<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vcenter" style="margin: 25px 0px;">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 vcenter text-center">
      <div class="row">
        <!--the Host section -->

        {% if duel.winner == duel.users.0 %}
          <img src="/img/winner.gif" alt="winner gif">
          <img src="{{ duel.users.0.picture.src }}" alt="{{ duel.users.0.picture.src }}" style="width:100%;border-radius:50%;">
        {% else %}
          <img src="{{ duel.users.0.picture.src }}" alt="{{ duel.users.0.picture.src }}" style="width:100%;border-radius:50%;margin-top:170px;">
        {% endif %}


        
        <h2 style="color:#95cd36;" class="text-center">{{ duel.users.0.username }}</h2>



        <video width="100%" id="video" controls style="max-width:100%;max-height:400px;">
          <source src="{{ duel.videos.0.source }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>

        <p>repetitions: {{ duel.videos.0.repetitions }}</p>



      </div>
    </div><!--
  --><div class="col-xs-12 col-sm-12 col-md-2 col-lg-2 vcenter text-center">
      <div class="row">
        <!--The VS sign -->
        <img src="/img/vs.png" alt="">
      </div>
    </div><!--
--><div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 vcenter text-center">
      <div class="row">
      <!--The Guest section -->
        {% if duel.winner == duel.users.1 %}
          <img src="/img/winner.gif" alt="winner gif">
          <img src="{{ duel.users.1.picture.src }}" alt="{{ duel.users.1.picture.src }}" style="width:100%;border-radius:50%;">
        {% else %}
          <img src="{{ duel.users.1.picture.src }}" alt="{{ duel.users.1.picture.src }}" style="width:100%;border-radius:50%;margin-top:170px;">
        {% endif %}
        <h2 style="color:#95cd36;" class="text-center">{{ duel.users.1.username }}</h2>



        <video width="100%" id="video" controls style="max-width:100%;max-height:400px;">
          <source src="{{ duel.videos.1.source }}" type="video/mp4">
          Your browser does not support the video tag.
        </video>

        <p>repetitions: {{ duel.videos.1.repetitions }}</p>
      </div>
    </div>
  </div>
</div>
