<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vcenter" style="margin: 25px 0px;">
  <div class="row">


    {% if duel.winner.id == duel.host.id %}
          
        <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 vcenter text-center">
          <div class="row">
            <!--the Host section -->

              <img src="/img/winner.png" alt="winner gif" style="position:absolute;width:20%;top:20%;right:20%;">
              <img src="{{ duel.host.media.path }}" alt="{{ duel.host.media.name }}" style="width:50%;border-radius:50%;"></br>
            
                <a href="{{ path('bf_site_profile', { 'username': duel.host.username }) }}" style="color:#95cd36;font-size:30px;" class="text-center"> {{ duel.host.username }} </a>
                <p style="font-size:22px;">Repetitions: {{ videohost.repetitions }}</p>

              <video width="100%" id="video" controls style="max-width:100%;max-height:400px;">
                <source src="/uploads/videos/{{ videohost.source }}" type="video/mp4">
                  Your browser does not support the video tag.
            </video>


          </div>
        </div><!--
      --><div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 vcenter text-center">
          <div class="row">
            <!--The VS sign -->
            <img src="/img/duel.png" alt="the vs image" style="width:100%;max-width:150px;">
          </div>
        </div><!--
    --><div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 vcenter text-center">
          <div class="row">
          <!--The Guest section -->
           
            <img src="{{ duel.guest.media.path }}" alt="{{ duel.guest.media.name }}" style="width:50%;border-radius:50%;"></br>
            <a href="{{ path('bf_site_profile', { 'username': duel.guest.username }) }}" style="color:#95cd36;font-size:30px;" class="text-center"> {{ duel.guest.username }} </a>
            <p style="font-size:22px;">Repetitions: {{ videoguest.repetitions }}</p>
            

            <video width="100%" id="video" controls style="max-width:100%;max-height:400px;">
                <source src="/uploads/videos/{{ videoguest.source }}" type="video/mp4">
                  Your browser does not support the video tag.
            </video>

          </div>
        </div>


    {% elseif duel.winner.id == duel.guest.id %}
    {# user.1 is the winner #}

      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 vcenter text-center">
        <div class="row">
          <!--the Host section -->
            <img src="{{ duel.host.media.path }}" alt="{{ duel.host.media.name }}" style="width:50%;border-radius:50%;"></br>
            <a href="{{ path('bf_site_profile', { 'username': duel.host.username }) }}" style="color:#95cd36;font-size:30px;" class="text-center"> {{ duel.host.username }} </a>
            <p style="font-size:22px;">Repetitions: {{ videohost.repetitions }}</p>
            <video width="100%" id="video" controls style="max-width:100%;max-height:400px;">
                <source src="/uploads/videos/{{ videohost.source }}" type="video/mp4">
                  Your browser does not support the video tag.
            </video>
        </div>
      </div><!--
    --><div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 vcenter text-center">
        <div class="row">
          <!--The VS sign -->
          <img src="/img/duel.png" alt="the vs image" style="width:100%;max-width:150px;">
        </div>
      </div><!--
  --><div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 vcenter text-center">
        <div class="row">
        <!--The Guest section -->
          <img src="/img/winner.png" alt="winner gif" style="position:absolute;width:20%;top:20%;right:20%;">
          <img src="{{ duel.guest.media.path }}" alt="{{ duel.guest.media.name }}" style="width:50%;border-radius:50%;"></br>
            <a href="{{ path('bf_site_profile', { 'username': duel.guest.username }) }}" style="color:#95cd36;font-size:30px;" class="text-center"> {{ duel.guest.username }} </a>
            <p style="font-size:22px;">Repetitions: {{ videoguest.repetitions }}</p>
          <video width="100%" id="video" controls style="max-width:100%;max-height:400px;">
                <source src="/uploads/videos/{{ videoguest.source }}" type="video/mp4">
                  Your browser does not support the video tag.
            </video>

        </div>
      </div>
      {% else %} {# the duel is a draw #}

      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 vcenter text-center">
        <div class="row">
          <!--the Host section -->
            <img src="{{ duel.host.media.path }}" alt="{{ duel.host.media.name }}" style="width:50%;border-radius:50%;margin-top:170px;"></br>
              <a href="{{ path('bf_site_profile', { 'username': duel.host.username }) }}" style="color:#95cd36;font-size:30px;" class="text-center"> {{ duel.host.username }} </a>
              <p style="font-size:22px;">Repetitions: {{ videohost.repetitions }}</p>
            <video width="100%" id="video" controls style="max-width:100%;max-height:400px;">
                <source src="/uploads/videos/{{ videohost.source }}" type="video/mp4">
                  Your browser does not support the video tag.
            </video>
        </div>
      </div><!--
    --><div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 vcenter text-center">
        <div class="row">
          <!--The VS sign -->
          <img src="/img/duel.png" alt="the vs image" style="width:100%;">
          <h2>{{ 'Draw'|trans }}</h2>
        </div>
      </div><!--
  --><div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 vcenter text-center">
        <div class="row">
        <!--The Guest section -->
          <img src="{{ duel.guest.media.path }}" alt="{{ duel.guest.media.name }}" style="width:50%;border-radius:50%;margin-top:170px;"></br>
          <a href="{{ path('bf_site_profile', { 'username': duel.guest.username }) }}" style="color:#95cd36;font-size:30px;" class="text-center"> {{ duel.guest.username }} </a>
          <p style="font-size:22px;">Repetitions: {{ videoguest.repetitions }}</p>
          <video width="100%" id="video" controls style="max-width:100%;max-height:400px;">
                <source src="/uploads/videos/{{ videoguest.source }}" type="video/mp4">
                  Your browser does not support the video tag.
            </video>

        </div>
      </div>
    {% endif %}
  </div>
</div>
