{% if duel.accepted == 0 %} {# the duel is not accepted #}
	{% if duel.host != user %}
		{# accept or decline the duel #}
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
			<div class="challengedescription row" style="margin-bottom:10px;min-height:50px;">
	        	<div class="challengetitle">
	          		<h3 class="text-center" style="color:white;">{{ duel.challenge.titleEN }} {{ 'against'|trans }} {{ duel.host.username }}</h3>
	        	</div>
	        	<div class="challengecontent">
	        		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- picture of the duel -->
	        			<img src="/uploads/challenges/thumbnail/{{ duel.challenge.id }}.jpg" alt="" style="max-height:100%;max-width:100%;"/>
	        		</div><!--
	        		--><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- info about the duel -->
	        			<p>Information:</p> 
	        		</div><!--
	        		--><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- buttons to action -->
	        			<a href="{{ path('bf_site_duel_accept', {'id': duel.id}) }}" class="btn btn-success">
							<i class="glyphicon glyphicon-ok"></i>
							    {{ 'Accept'|trans }}
						</a></br></br>
					    <a href="{{ path('bf_site_duel_decline', {'id': duel.id}) }}" class="btn btn-danger">
							<i class="glyphicon glyphicon-trash"></i>
							    {{ 'Decline'|trans }}
						</a></br></br>
						<a href="{{ path('bf_site_duel_view', {'code': duel.code}) }}" class="btn btn-success">
							<i class="glyphicon glyphicon-upload"></i>
						    {{ 'View the duel'|trans }}
						</a>
	        		</div>
	        	</div>
	        </div>
	    </div>
	{% else %}
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
			<div class="challengedescription row" style="margin-bottom:10px;min-height:50px;">
	        	<div class="challengetitle">
	          		<h3 class="text-center" style="color:white;">{{ duel.challenge.titleEN }} {{ 'against'|trans }} {{ duel.guest.username }}</h3>
	        	</div>
	        	<div class="challengecontent">
	        		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- picture of the duel -->
	        			<img src="/uploads/challenges/thumbnail/{{ duel.challenge.id }}.jpg" alt="" style="max-height:100%;max-width:100%;"/>
	        		</div><!--
	        		--><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- info about the duel -->
	        			<p>Information: wait for {{ duel.guest.username }} to accept your duel.</p> 
	        		</div><!--
	        		--><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- buttons to action -->
						<a href="{{ path('bf_site_duel_view', {'code': duel.code}) }}" class="btn btn-success">
							<i class="glyphicon glyphicon-upload"></i>
						    {{ 'View the duel'|trans }}
						</a>
	        		</div>
	        	</div>
	        </div>
	    </div>
	{% endif %}
{% else %} {# the duel is accepted but not completed #}
	{% if duel.host != user %} {# the user is the guest #}
		{% if duel.guestCompleted == 0 %}
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
				<div class="challengedescription row" style="margin-bottom:10px;min-height:50px;">
		        	<div class="challengetitle">
		          		<h3 class="text-center" style="color:white;">{{ duel.challenge.titleEN }} {{ 'against'|trans }} {{ duel.host.username }}</h3>
		        	</div>
		        	<div class="challengecontent">
		        		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- picture of the duel -->
		        			<img src="/uploads/challenges/thumbnail/{{ duel.challenge.id }}.jpg" alt="" style="max-height:100%;max-width:100%;"/>
		        		</div><!--
		        		--><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- info about the duel -->
		        			<p>Information:</br>
		        				{{ "duel.date"|trans({'%date%': duel.endDate|date('d-m-Y G:i') }) }}
		        			</p> 
		        		</div><!--
		        		--><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- buttons to action -->
		        			<a href="{{ path('bf_site_upload', {'id': duel.id, 'type':'duel'}) }}" class="btn btn-warning">
								<i class="glyphicon glyphicon-upload"></i>
								    {{ 'Upload your video'|trans }}
							</a></br></br>
							<a href="{{ path('bf_site_duel_view', {'code': duel.code}) }}" class="btn btn-success">
								<i class="glyphicon glyphicon-upload"></i>
							    {{ 'View the duel'|trans }}
							</a>
		        		</div>
		        	</div>
		        </div>
		    </div>
		{% else %}
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
				<div class="challengedescription row" style="margin-bottom:10px;min-height:50px;">
		        	<div class="challengetitle">
		          		<h3 class="text-center" style="color:white;">{{ duel.challenge.titleEN }} {{ 'against'|trans }} {{ duel.host.username }}</h3>
		        	</div>
		        	<div class="challengecontent">
		        		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- picture of the duel -->
		        			<img src="/uploads/challenges/thumbnail/{{ duel.challenge.id }}.jpg" alt="" style="max-height:100%;max-width:100%;"/>
		        		</div><!--
		        		--><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- info about the duel -->
		        			<p>Information:</br>You uploaded your video in time. Now you have to wait for {{ duel.host.username }} to upload a video.</p> 
		        		</div><!--
		        		--><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- buttons to action -->
		        			
							<a href="{{ path('bf_site_duel_view', {'code': duel.code}) }}" class="btn btn-success">
								<i class="glyphicon glyphicon-upload"></i>
							    {{ 'View the duel'|trans }}
							</a>
		        		</div>
		        	</div>
		        </div>
		    </div>
		{% endif %}
	{% else %} {# the user is the host #}
		{% if duel.hostCompleted == 0 %}
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
				<div class="challengedescription row" style="margin-bottom:10px;min-height:50px;">
		        	<div class="challengetitle">
		          		<h3 class="text-center" style="color:white;">{{ duel.challenge.titleEN }} {{ 'against'|trans }} {{ duel.guest.username }}</h3>
		        	</div>
		        	<div class="challengecontent">
		        		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- picture of the duel -->
		        			<img src="/uploads/challenges/thumbnail/{{ duel.challenge.id }}.jpg" alt="" style="max-height:100%;max-width:100%;"/>
		        		</div><!--
		        		--><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- info about the duel -->
		        			<p>Information:</br>You have till {{ duel.endDate|date('d-m-Y G:i') }} to upload your video. Once you passed this date you will not be able to upload your video.</p> 
		        		</div><!--
		        		--><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- buttons to action -->
		        			<a href="{{ path('bf_site_upload', {'id': duel.id, 'type':'duel'}) }}" class="btn btn-warning">
								<i class="glyphicon glyphicon-upload"></i>
								    {{ 'Upload your video'|trans }}
							</a></br></br>
							<a href="{{ path('bf_site_duel_view', {'code': duel.code}) }}" class="btn btn-success">
								<i class="glyphicon glyphicon-upload"></i>
							    {{ 'View the duel'|trans }}
							</a>
		        		</div>
		        	</div>
		        </div>
		    </div>
		{% else %}
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
				<div class="challengedescription row" style="margin-bottom:10px;min-height:50px;">
		        	<div class="challengetitle">
		          		<h3 class="text-center" style="color:white;">{{ duel.challenge.titleEN }} {{ 'against'|trans }} {{ duel.guest.username }}</h3>
		        	</div>
		        	<div class="challengecontent">
		        		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- picture of the duel -->
		        			<img src="/uploads/challenges/thumbnail/{{ duel.challenge.id }}.jpg" alt="" style="max-height:100%;max-width:100%;"/>
		        		</div><!--
		        		--><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- info about the duel -->
		        			<p>Information:</br>You uploaded your video in time. Now you have to wait for {{ duel.guest.username }} to upload a video.</p> 
		        		</div><!--
		        		--><div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row vcenter"><!-- buttons to action -->
		        			
							<a href="{{ path('bf_site_duel_view', {'code': duel.code}) }}" class="btn btn-success">
								<i class="glyphicon glyphicon-upload"></i>
							    {{ 'View the duel'|trans }}
							</a>
		        		</div>
		        	</div>
		        </div>
		    </div>
		{% endif %}
	{% endif %}
{% endif %}
