<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vcenter row" style="margin-bottom:20px;">
  <div class="challengedescription">

    <!--Title with line -->
      <div style="width: 100%; height: 21px; border-bottom: 1px solid #95cd36; text-align: center;background-color:#FFF;">
        <span style="font-size: 27px; background-color: #FFF; padding: 0 10px;color:#95cd36;">
          {{'My Duels'|trans }}<!--Padding is optional-->
        </span>
      </div>
      <div style="width: 100%; height: 15px;background-color:#FFF;">
      </div>
    <div class="challengecontent">
      {% if lists.listDuels|length > 0 %}
        {% for duel in lists.listDuels %}
          <a href="{{ path('bf_site_duel_view', {'id': duel.id }) }}">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 container text-center" style="height:250px;">
              <h4 style>{{ duel.challenge.title }}</h4>
              <img src="/uploads/challenges/thumbnail/{{ duel.challenge.id}}.jpg" alt="{{ duel.challenge.imageAlt }}" style="max-width:90%;max-height:150px;"></a>
              <p>
                {% if duel.completed == 1 %}
                  {% if duel.winner is not null %}
                    {% if duel.winner.id == user.id %}
                      {{'Won'|trans }}
                    {% else %}
                      {{'Lost'|trans }}
                    {% endif %}
                  {% else %}
                    {{'Draw'|trans }}
                  {% endif %}
                {% else %}
                  {{'In progress'|trans }}
                {% endif %}
              </p>
            </div>
          </a>
        {% endfor %}
      {% else %}
        <p> {{'This user did not participate at any duels'|trans }}</p>
      {% endif %}
    </div>
  </div>
</div>
