{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  My duels - {{ parent() }}
{% endblock %}


{% block content %}

<section class="homepage">
    <div class="row" style="margin-top:50px;">
      	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        	<div class="row">
          	{# integrating the  my duels page #}
          		<div class="challengedescription row" style="margin-bottom:30vh;">
        			<div class="challengetitle">
          				<h3 class="text-center" style="color:white;">My duels</h3>
        			</div>
        		<div class="challengecontent">
	          		<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingOne" style="background-color:rgba(149,205,54,0.8);">
					      <h4 class="panel-title" style="color:white">
					        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					          In Progress
					          <div style="background-color:white;width:25px;height:25px;border-radius:25px;display:inline-block;" class="text-center row">
					          	<p style="color:#95cd36;margin-bottom:0px;margin-top:3px;font-size:19px;">{{ listDuels.listProgress|length }}
					          </div>
					           <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
					      <div class="panel-body">
					        {% if listDuels.listProgress|length > 0 %}
					        	{# call the progress template#}
					        	{% for duel in listDuels.listProgress %}
					        		{% include "BFSiteBundle:Duel:progressduels.html.twig" with {"user": user, "duel": duel} only %}
					        	{% endfor %}

					        {% else %}
							<p> You don't have any ongoing duels. Go out there and duel some users ! </p>
							{% endif %}
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingTwo" style="background-color:rgba(149,205,54,0.8);">
					      <h4 class="panel-title" style="color:white">
					        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					          Won duels
					          <div style="background-color:white;width:25px;height:25px;border-radius:25px;display:inline-block;" class="text-center row">
					          	<p style="color:#95cd36;margin-bottom:0px;margin-top:3px;font-size:19px;">{{ listDuels.listWon|length }}
					          </div>
					           <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
					      <div class="panel-body">
					        {% if listDuels.listWon|length > 0 %}
					        	{# call the progress template#}
					        	{% for duel in listDuels.listWon %}
					        		{% include "BFSiteBundle:Duel:wonduels.html.twig" with {"user": user, "duel": duel} only %}
					        	{% endfor %}
					        {% else %}
							<p> You don't have any won duels. Go out there and duel some users ! </p>
							{% endif %}
					      </div>
					    </div>
					  </div>
					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingTwo" style="background-color:rgba(149,205,54,0.8);">
					      <h4 class="panel-title" style="color:white">
					        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					          Draw duels 
					          <div style="background-color:white;width:25px;height:25px;border-radius:25px;display:inline-block;" class="text-center row">
					          	<p style="color:#95cd36;margin-bottom:0px;margin-top:3px;font-size:19px;">{{ listDuels.listDraw|length }}
					          </div>
					           <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
					      <div class="panel-body">
					        {% if listDuels.listDraw|length > 0 %}
					        	{# call the progress template#}
					        	{% for duel in listDuels.listDraw %}
					        		{% include "BFSiteBundle:Duel:drawduels.html.twig" with {"user": user, "duel": duel} only %}
					        	{% endfor %}
					        {% else %}
							<p> You don't have any Draw duels.</p>
							{% endif %}
					      </div>
					    </div>
					  </div>

					  <div class="panel panel-default">
					    <div class="panel-heading" role="tab" id="headingThree" style="background-color:rgba(149,205,54,0.8);">
					      <h4 class="panel-title" style="color:white">
					        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					        	Lost duels
					          <div style="background-color:white;width:25px;height:25px;border-radius:25px;display:inline-block;" class="text-center row">
					          	<p style="color:#95cd36;margin-bottom:0px;margin-top:3px;font-size:19px;">{{ listDuels.listLost|length }}
					          </div>
					           <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
					        </a>
					      </h4>
					    </div>
					    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
					      <div class="panel-body">
					        {% if listDuels.listLost|length > 0 %}
					        	{# call the progress template#}
					        	{% for duel in listDuels.listLost %}
					        		{% include "BFSiteBundle:Duel:lostduels.html.twig" with {"user": user, "duel": duel} only %}
					        	{% endfor %}
					        {% else %}
							<p> You don't have any lost duels. Nice, keep up the good work! </p>
							{% endif %}
					      </div>
					    </div>
					  </div>
					</div>
				</div>
          	{# end of the my duels page #}
          	</div>
        </div>
    </div>
</section>
{% endblock %}
