{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
	<meta name="description" content="followers of {{ user.username }}.">
	<meta name="keywords" content="soccer,football, ">
{% endblock %}


{% block title %}
  {{'Followers of'|trans }} {{ user.username }}- {{ parent() }}
{% endblock %}

{% block content %}
<section class="homepage">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1" style="margin-top:40px;">
      <div class="row">
        <h1 style="color:#95cd36;" class="text-center">{{'Followers of'|trans }} {{ user.username }}</h1>
        {% if listFollows|length > 0 %}
          {% for follow in listFollows %}
            <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center">
              <a href="{{ path('bf_site_profile', { 'username': follow.follower.username }) }}">
                <div class="row">
                  <img src="{{ follow.follower.picture.src }}" alt="{{ follow.follower.picture.alt }}" style="width:70%;border-radius:100%"/>
                  <p>{{ follow.follower.username }}</p>
                </div>
              </a>
            </div>
          {% endfor %}
        {% else %}
        <p>{{'This user does not have any followers.'|trans }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
