<!--Begin Profile top-->
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <div class="profiletop">
    <div class="row">
      <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 vcenter text-center row">
        <h1 class="text-center">{{ user.username }}</h1>
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 vcenter text-center row">

        </div><!--
        --><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 vcenter text-center row">
          <img src="{{ user.media.path }}" alt="{{ user.media.name }}" style="width:100%;border-radius:100%"/>
        </div><!--
        --><div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 vcenter row">
          <p style="text-align: left;">{{ profiletop.age }} {{ 'Years'|trans }}</br>{{ user.footballClub }}</br>{{ user.city }}, {{ user.country.name }}</p>
        </div>


        <!-- action button under the profile -->
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:100px;">
            <div class="row">
            {% if follow is not null %}
              {% if user.username != app.user.username %}                  
                <!-- Button to follow the user -->
                <a id="follow" value="{{ user.id }}" class="">
                  <img src="/img/follow.png" alt="Bestfootball follow pictogram" class="imagereactive" data-placement="top" data-toggle="tooltip" title="{{ 'Follow me!'|trans }}"/>
                </a>
                <!-- Button to unfollow the user -->
                <a id="unfollow" value="{{ user.id }}" class="" >
                  <img src="/img/unfollow.png" alt="Bestfootball follow pictogram" class="imagereactive" data-placement="top" data-toggle="tooltip" title="{{ 'Unfollow'|trans }}"/>
                </a>
                <!-- Button to duel the user -->
                <a href="{{ path('bf_site_duel_create', {'username': user.username }) }}" class="">
                  <img src="/img/duel.png" alt="Bestfootball follow pictogram" class="imagereactive" data-placement="top" data-toggle="tooltip" title="{{ 'Duel me!'|trans }}"/>
                </a>
              {% endif %}
            {% endif %}
            </div>               
          </div>







      </div><!--
   --><div class="col-xs-12 col-sm-7 col-md-7 col-lg-7 vcenter row">
        <div class="row">
          <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 vcenter" style="padding:5px 5px;">
            <div class="profilecounter text-center">
              <div>
                <p>{{ profiletop.videoscount }}</br>{{ 'Videos'|trans }}</p>
              </div>
            </div>
          </div><!--
       --><div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 vcenter" style="padding:5px 5px;">
            <a href="{{ path('bf_site_profile_followers', { 'username': user.username }) }}" style="text-decoration: none;">
              <div class="profilecounter text-center" style="cursor:pointer">
                <div>
                  <p>{{ profiletop.followscount }}</br>{{ 'Followers'|trans }}</p>
                </div>
              </div>
            </a>
          </div><!--
       --><div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 vcenter" style="padding:5px 5px;">
            <a href="{{ path('bf_site_ranking_duel', {'country': 'global', 'state':'country'}) }}" style="text-decoration: none;">
              <div class="profilecounter text-center">
                <div>
                  <p>{{ profiletop.duelwins }}</br>{{ 'Duel victories'|trans }}</p>
                </div>
              </div>
            </a>
          </div><!--
       --><div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 vcenter" style="padding:5px 5px;">
            <a href="{{ path('bf_site_ranking_challenge', {'country': 'global', 'state':'country'}) }}" style="text-decoration: none;">
              <div class="profilecounter text-center">
                <div>
                  <p>N° {{ rank.rankinfo.globalrank }}</br>{{ 'Global'|trans }}</p>
                </div>
              </div>
            </a>
          </div><!--
       --><div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 vcenter" style="padding:5px 5px;">
            <a href="{{ path('bf_site_ranking_challenge', {'country': user.country.name , 'state':'country'}) }}" style="text-decoration: none;">
              <div class="profilecounter text-center">
                <div>
                  <p>N° {{ rank.rankinfo.countryrank }}</br>{{ user.country.name }}</p>
                </div>
              </div>
            </a>
          </div><!--
       --><div class="col-xs-4 col-sm-4 col-md-2 col-lg-2 vcenter" style="padding:5px 5px;">
            <a href="{{ path('bf_site_ranking_challenge', {'country':  user.country.name , 'state': user.state.name }) }}" style="text-decoration: none;">
              <div class="profilecounter text-center">
                <div>
                  <p>N° {{ rank.rankinfo.staterank }}</br>{{ user.state.name }}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                  <h2 class="text-center">{{ 'Challenge grade:'|trans }}</h2>
                  <h2 class="text-center">{{ rank.rankinfo.level }}</h2>
                  <div class="progress text-center" style="margin-top:22px;">
                    <div class="progress-bar {{ rank.rankinfo.style }} progress-bar-striped active" role="progressbar" aria-valuenow="{{ user.points }}" aria-valuemin="{{ rank.rankinfo.min }}" aria-valuemax="{{ rank.rankinfo.max }}" style="width:{{ rank.rankinfo.percent }}%;">
                      {{ user.points }} {{ 'Points'|trans }}
                    </div>
                  </div>
                </div>
              </div><!--
           --><div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <div class="row">
                  <h2 class="text-center">{{ 'Duels level:'|trans }} </h2>
                  {% if rank.duelrankinfo.level == 0 %}
                    {% include "BFSiteBundle:Profile:0bf.html.twig" %}
                  {% elseif rank.duelrankinfo.level == 1 %}
                    {% include "BFSiteBundle:Profile:1bf.html.twig" %}
                  {% elseif rank.duelrankinfo.level == 2 %}
                    {% include "BFSiteBundle:Profile:2bf.html.twig" %}
                  {% elseif rank.duelrankinfo.level == 3 %}
                    {% include "BFSiteBundle:Profile:3bf.html.twig" %}
                  {% elseif rank.duelrankinfo.level == 4 %}
                    {% include "BFSiteBundle:Profile:4bf.html.twig" %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Profile top-->
