{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  My Settings - {{ parent() }}
{% endblock %}


{% block content %}
<section class="homepage">
    <div class="row" style="margin-top:50px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <div class="row">
        	<!--Begin of the settings page -->
        	<div style="background-color:rgba(255,255,255,0.8); margin-bottom:100px;">
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active" style="width:25%;"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">information</a></li>
			    <li role="presentation" style="width:25%;"><a href="#picture" aria-controls="picture" role="tab" data-toggle="tab">profile picture</a></li>
			    <li role="presentation" style="width:25%;"><a href="#username" aria-controls="username" role="tab" data-toggle="tab">Change username</a></li>
			    <li role="presentation" style="width:25%;"><a href="#password" aria-controls="password" role="tab" data-toggle="tab">Change password</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content row" style="padding-bottom:10px;">
			    <div role="tabpanel" class="tab-pane active" id="info">
			    </br>
						{{ render(controller("BFSiteBundle:Profile:settingsInfo")) }}
			    </div>
			    <div role="tabpanel" class="tab-pane" id="picture">
			    	</br>
			    	</br>
			    	{{ render(controller("BFSiteBundle:Profile:settingsPicture")) }}
			    </div>
			    <div role="tabpanel" class="tab-pane" id="username">
			    	</br>
			    	</br>
			    	{{ render(controller("BFSiteBundle:Profile:changeUsername")) }}
			    </div>
			    <div role="tabpanel" class="tab-pane" id="password">
			    	</br>
			    	</br>
			    	{{ render(controller("BFSiteBundle:Profile:changePassword")) }}
			    </div>
			  </div>
			</div>
        	<!-- End of the settings page -->
        </div>
      </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
<script>
	var $country = $('#bf_userbundle_user_country');
	// When sport gets selected ...
	$country.change(function() {
	  // ... retrieve the corresponding form.
	  var $form = $(this).closest('form');
	  // Simulate form data, but only include the selected sport value.
	  var data = {};
	  data[$country.attr('name')] = $country.val();
	  // Submit data via AJAX to the form's action path.
	  $('#loading-image').show();
	  $('#statefield').hide();
	  $.ajax({
	    url : $form.attr('action'),
	    type: $form.attr('method'),
	    data : data,
	    success: function(html) {
	      // Replace current position field ...
	      $('#bf_userbundle_user_state').replaceWith(
	        // ... with the returned one from the AJAX response.
	        $(html).find('#bf_userbundle_user_state')
	      );
	      // Position field now displays the appropriate positions.
	      $('#loading-image').hide();
	      $('#statefield').show();
	    }
	  });
	});
</script>
{% endblock %}
