
<div class="row">
  {# This is the content section of our page, here the user will be able to view all the challenges with the different niveau's! #}
  	<div class="row">
	  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vcenter">
	  		{% if user.picture != null %}
	  		<img src="{{ user.picture.src }}" alt="{{ user.picture.alt }}" class="img-responsive"/>
	  		{% else %}
	  			{{'No profile picture'|trans }}
	  	{% endif %}
		</div><!--
	--><div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vcenter">
		  	<div id="jcrop-holder">
		    	<img src="holder.js/300x300?bg=#b8ebb8&fg=#ffffff" id="cropbox">
		    </div>

		    <form name="upload" action="{{ path('bf_site_settings_picture') }}" {{ form_enctype(form) }} method="POST"  onsubmit="return checkCoords();">

				{{ form_widget(form.picture.file, {'id':'file','data-route':'media_json_upload'})}}

				{{ form_widget(form.picture.dimensions) }}

				{{ form_widget(form.picture.submit) }}

			</form>

		</div>
	</div>	  
</div>
