{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  {{'My Settings'|trans }} - {{ parent() }}
{% endblock %}

{% block meta %}

{% endblock %}




{% block content %}
<section class="homepage">
    <div class="row" style="margin-top:50px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        <div class="row">
        	<!--Begin of the settings page -->
        	<div style="background-color:rgba(255,255,255,0.8); margin-bottom:100px;">
			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active" style="width:25%;"><a href="#info" aria-controls="info" role="tab" data-toggle="tab">{{'information'|trans }}</a></li>
			    <li role="presentation" style="width:25%;"><a href="#picture" aria-controls="picture" role="tab" data-toggle="tab">{{'profile picture'|trans }}</a></li>
			    <li role="presentation" style="width:25%;"><a href="#username" aria-controls="username" role="tab" data-toggle="tab">{{'Change username'|trans }}</a></li>
			    <li role="presentation" style="width:25%;"><a href="#password" aria-controls="password" role="tab" data-toggle="tab">{{'Change password'|trans }}</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content row" style="padding-bottom:10px;">
			    <div role="tabpanel" class="tab-pane active" id="info">
			    </br>
						{{ render(controller("BFSiteBundle:Profile:settingsInfo")) }}
			    </div>
			    <div role="tabpanel" class="tab-pane" id="picture">
			    	</br>
			    	</br>
			    	{{ render(controller("BFSiteBundle:Profile:settingsPicture")) }}
			    </div>
			    <div role="tabpanel" class="tab-pane" id="username">
			    	</br>
			    	</br>
			    	{{ render(controller("BFSiteBundle:Profile:changeUsername")) }}
			    </div>
			    <div role="tabpanel" class="tab-pane" id="password">
			    	</br>
			    	</br>
			    	{{ render(controller("BFSiteBundle:Profile:changePassword")) }}
			    </div>
			  </div>
			</div>
        	<!-- End of the settings page -->
        </div>
      </div>
    </div>
</section>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{asset("bundles/uploadcropimage/js/jquery.min.js") }}"></script>
	<script src="{{asset("bundles/uploadcropimage/js/jquery.Jcrop.min.js") }}"></script>
	<script src="{{asset("bundles/uploadcropimage/js/jquery.color.js") }}"></script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
    {% include 'UploadCropImageBundle:Commun:crop.includes.html.twig' %}
    {% include "UploadCropImageBundle:Commun:script.html.twig" %}
<script>
	var $country = $('#bf_userbundle_user_country');
	// When sport gets selected ...
	$country.change(function() {
	  // ... retrieve the corresponding form.
	  var $form = $(this).closest('form');
	  // Simulate form data, but only include the selected sport value.
	  var data = {};
	  data[$country.attr('name')] = $country.val();
	  // Submit data via AJAX to the form's action path.
	  $('#loading-image').show();
	  $('#statefield').hide();
	  $.ajax({
	    url : $form.attr('action'),
	    type: $form.attr('method'),
	    data : data,
	    success: function(html) {
	      // Replace current position field ...
	      $('#bf_userbundle_user_state').replaceWith(
	        // ... with the returned one from the AJAX response.
	        $(html).find('#bf_userbundle_user_state')
	      );
	      // Position field now displays the appropriate positions.
	      $('#loading-image').hide();
	      $('#statefield').show();
	    }
	  });
	});
</script>
<script type="text/javascript">
$( document ).ready(function() {
	$('#helpblocktaken').hide();
	$('#helpblockfree').hide();

	$("#form_username").on('input',function() {
	 	//check for the username
	 	var response;
	 	checkUsername();
	});
	var checkUsername = function(){
		var response;
		var username = $("#form_username").val();
		$.ajax({
		    url : "{{ path('bf_site_api_checkusername')}}",
		    type: "POST",
		    data : 'username=' + username,
		    success: function(response) {
		      	console.log(response);
		      	if(response == 'ok'){
	 				//the username is available. Make the button available.
	 				console.log('username is available');
	 				$('#sumbit_username').removeClass( "disabled" );
	 				$("#sumbit_username").removeAttr( "disabled");
	 				$('#username_field').removeClass( "has-error" );
	 				$('#username_field').addClass( "has-success" );
	 				$('#helpblocktaken').hide();
	 				$('#helpblockfree').show();
	 				return false;
	 			}
	 			if(response == 'used'){
	 				//the username is already taken. Block the buton.
	 				console.log('username is not available');
	 				$('#sumbit_username').addClass( "disabled" );
	 				$("#sumbit_username").attr( "disabled", "disabled" );
	 				$('#username_field').removeClass( "has-success" );
	 				$('#username_field').addClass( "has-error" );
	 				$('#helpblockfree').hide();
	 				$('#helpblocktaken').show();
	 				return false;
	 			}
		    }
	  	});
	};
	$(window).keydown(function(event) {
		if (event.keyCode == 13) {
			event.preventDefault();
			return false;
		}
	});
});
</script>
<script type="text/javascript">
// the javascript to check that the 2 passwords are correct.

</script>
{% endblock %}
