
<div class="row">
  {# This is the content section of our page, here the user will be able to view all the challenges with the different niveau's! #}

  <form action="{{ path('bf_site_settings_picture')}}" method="post" {{ form_enctype(form) }}>
  	<div class="row">
	  	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vcenter">
	  		{% if user.picture != null %}
	  		<img src="/uploads/img/{{ user.picture.src }}" alt="{{ user.picture.alt }}" class="img-responsive"/>
	  		{% else %}
	  			Pas de photo de profil !
	  	{% endif %}
		</div><!--
	--><div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vcenter">
		  	{{ form_rest(form) }}

		</div>
	</div>
  </form>
	  
</div>
