<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row" style="margin-bottom:20px;">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 vcenter">
    <div class="row">
      {% include "BFSiteBundle:Profile:video.html.twig" with {"video": lists.lastVideo} only %}
    </div>
  </div><!--
  --><div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 vcenter"> 
      <div class="row">
        <div class="videolistback">
          <!--Title with line -->
          <div style="width: 100%; height: 21px; border-bottom: 1px solid #95cd36; text-align: center;background-color:#FFF;">
            <span style="font-size: 27px; background-color: #FFF; padding: 0 10px;color:#95cd36;">
              {{ 'My videos'|trans }}<!--Padding is optional-->
            </span>
          </div>
          <div style="width: 100%; height: 15px;background-color:#FFF;">
          </div>

          <div class="videolistcontent" id="videolist">
            <ul class="playlist" style="list-style-type:none;padding-left:0px;" >


              {% for video in lists.listVideos %}
                <li>
                  <a href="{{ video.source }}" class="livevideo">
                    <div class="videotab row">
                      <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4 vcenter row">
                        <img src="{{ video.thumbUrl }}" alt="" style="width:100%;"/>
                      </div><!--
                   --><div class="col-xs-7 col-sm-7 col-md-8 col-lg-8 vcenter">
                        <p style="font-size:14px;"><b>
                          {% if video.type == 'freestyle' %}
                              {{ video.title }} -  {{ video.user.username }} 
                          {% else %}
                            {% if app.request.getLocale() == 'fr' %}            
                                {{ video.challenge.titleFR }} - {{ video.user.username }} 
                            {% elseif app.request.getLocale() == 'en' %}
                                {{ video.challenge.titleEN }} - {{ video.user.username }} 
                            {% else %}
                                {{ video.challenge.titleEN }} - {{ video.user.username }} 
                            {% endif %}
                          {% endif %}
                          </b></br>

                        {# the score bar #}
                        {% if video.type == 'challenge'%}
                          <p>Score: {{ video.score }} - {{ 'Repetitions'|trans }}: {{ video.repetitions }}X
                        {% endif %}
                        </p>
                      </div>
                    </div>
                  </a>
                </li>
              {% endfor %}





            </ul>
          </div>
        </div>
        </div>
      </div>
</div>
