  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 container text-center row" style="background-color:rgba(255,255,255,1)">
    <a href="{{ path('bf_site_video', { 'code': video.code }) }}">
      <h4>{% if app.request.getLocale() == 'fr' %}      
            {{ video.challenge.titleFR }}
          {% elseif app.request.getLocale() == 'en' %}
            {{ video.challenge.titleEN }}
          {% else %}
            {{ video.challenge.titleEN }}
          {% endif %}
      </h4>
    
    
        <img src="{{ video.thumbUrl }}" alt="{{ video.thumbAlt }}" style="max-width:90%;max-height:150px;">
      </a>
          {# calculating the rank off the user #}
          {% if video.repetitions > video.challenge.six %}
             <h5>{{'Legend'|trans }}</h5> <p>{{ video.repetitions }}X</p>
          {% elseif video.repetitions == video.challenge.six %}
            <h5>{{'Expert'|trans }}</h5><p>{{ video.repetitions }}X</p>
          {% else %}
            <h5>Points : {{ video.score }}</h5><p>{{ video.repetitions }}X</p>
          {% endif %}
  </div>
