  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 container text-center row" style="background-color:rgba(255,255,255,1)">
      <a href="/uploads/videos/{{ video.id }}.mp4" class="livevideo">
        <h4>{{ video.challenge.title }}</h4>
        <img src="/uploads/videos/thumbnail/{{ video.id}}.jpg" alt="{{ video.thumbAlt }}" style="max-width:90%;max-height:150px;" class="img-responsive">
      </a>
          {# calculating the rank off the user #}
          {% if video.repetitions > video.challenge.six %}
             <h5>Legend</h5> <p>{{ video.repetitions }}X</p>
          {% elseif video.repetitions == video.challenge.six %}
            <h5>Expert</h5><p>{{ video.repetitions }}X</p>
          {% else %}
            <h5>Points : {{ video.score }}</h5><p>{{ video.repetitions }}X</p>
          {% endif %}
          <a href="{{ path('bf_site_video_report', {'id': video.id}) }}">report this video</a>
  </div>
