<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row" style="margin-bottom:20px;">
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 vcenter">
    {% include "BFSiteBundle:Profile:video.html.twig" with {"video": lists.lastVideo} only %}
  </div><!--
  --><div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 vcenter"> 

        <div class="videolistback">
          <div class="videolisttitle text-center">
            <h3 style="color:white;">My videos </h3>
          </div>
          <div class="videolistcontent" id="videolist">
            <ul class="playlist" style="list-style-type:none;padding-left:0px;" >


              {% for video in lists.listVideos %}
                <li>
                  <a href="/uploads/videos/{{ video.id }}.mp4">
                    <div class="videotab row">
                      <div class="col-xs-5 col-sm-5 col-md-4 col-lg-4 vcenter row">
                        <img src="/uploads/videos/thumbnail/{{ video.id }}.jpg" alt="" style="width:100%;"/>
                      </div><!--
                   --><div class="col-xs-7 col-sm-7 col-md-8 col-lg-8 vcenter">
                        <p style="font-size:14px;">{{ video.title }},</br> {{ video.date|date('d-m-Y')}}</p>
                        <a href="{{ path('bf_site_video_report', {'id': video.id}) }}">report this video</a>
                      </div>
                    </div>
                  </a>
                </li>
              {% endfor %}





            </ul>
          </div>
        </div>
      </div>
</div>
