{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  My videos - {{ parent() }}
{% endblock %}


{% block content %}
<div class="row">
  {# This is the content section of our page, here the user will be able to view all the challenges with the different niveau's! #}
  <h1>My videos on Bestlball</h1>
	  {% for video in listVideos %}
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
		  	<div class="jumbotron text-center" style="background-color:rgba(0, 120, 204,0.8);padding:10px;">
		   			<h3 style="color:white;">{{ video.title }}</h3>
		   			<p style="color:white;"> Points : {{ video.score }}</p>
		   	
			   			<img src="/Bestfootball/web/uploads/videos/thumbnail/{{ video.id }}.jpg" alt="{{ video.thumbAlt }}" class="img-responsive"/>
						</br>
						<a href="{{ path('bf_site_video_modify', {'id': video.id}) }}" class="btn btn-default">
					      <i class="glyphicon glyphicon-edit"></i>
					      Modify your video
					    </a>
			   			<a href="{{ path('bf_site_video_delete', {'id': video.id}) }}" class="btn btn-danger">
					      <i class="glyphicon glyphicon-trash"></i>
					      Delete this video.
					    </a>
		    </div>
		</div>
	  {% endfor %}
</div>



{% endblock %}