{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
	<meta name="description" content="Bla bla bla concernant le profil.">
	<meta name="keywords" content="soccer,football, ">
{% endblock %}


{% block title %}
  Profile de {{ user.username }}- {{ parent() }} sur BestFootball.com 
{% endblock %}

{% block content %}
<section class="bgchallenge text-center">
  <div class="row"> 
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
      <div class="row"> 
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center vcenter">
          <img src="/uploads/img/{{ user.picture.src }}" alt="{{ user.picture.alt }}" class="img-responsive" style="max-height:300px;margin:0 auto;"/>
        </div><!--
        --><div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vcenter">
          <h1>{{user.username}}</h1>
          <p>
            Age : {{ user.birthday|date('Y') }}</br>
            City : {{ user.city }}</br>
            Country: {{ user.country }}</br>
            </br>
            My club : {{ user.footballClub }}</br>
            Field Position : {{ user.fieldPosition }}</br>
            Foot : {{ user.foot }}
            Points : {{ user.points }}
          </p>
        </div> 
  {% if lastVideo|length > 0 %}
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center vcenter">
        <div class="row">
          
        </div><!--
        --><div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vcenter">
          <p>
            {{ lastVideo.title }}, {{ lastVideo.date }}</br>
            Description : </br>
            {{ lastVideo.description }}
            </br>
            </br>
            Score : {{ lastVideo.score }}</br>
            Repetitions : {{ lastVideo.repetitions }} </br>
            Level : Level that corresponds with the score</br>
          </p>
        </div>
      </div>
  {% endif %}


  	<h3>My last challenges</h3>

  	{% if listVideos|length > 0 %}
        {% for video in listVideos %}
          
        	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 container text-center" style="margin:5px;{% if video.score == 300 %}background-color:yellow{% endif %}{% if video.score == 200 %}background-color:grey{% endif %}{% if video.score == 100 %}background-color:brown{% endif %};border-radius: 15px 50px;height:250px;">
        	
              <h4 style>{{ video.challenge.title }}</h4>
              <a href="{{ path('bf_site_video', { 'id': video.id }) }}">
          		  <img src="/uploads/videos/thumbnail/{{ video.id}}.jpg" alt="{{ video.thumbAlt }}" class="img-responsive"></a>
                <h5>{{video.title}}</h5>
          </div>
          

        {% endfor %}
    {% endif %}
    </div>
  </div>
</div>
</section>
{% endblock %}