{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
	<meta name="description" content="Bla bla bla concernant le profil.">
	<meta name="keywords" content="soccer,football, ">
{% endblock %}


{% block title %}
  Profile of {{ user.username }}- {{ parent() }} sur BestFootball.com 
{% endblock %}

{% block content %}
<section class="profile">
        <div class="row">
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
            <!-- The top section of the profile page -->
            <div class="profiletop">
              <div class="col-xs-2 col-sm-3 col-md-3 col-lg-3 vcenter row text-center">
                <img src="img/profile.png" alt="" style="width:100%;"/>
              </div><!--
              --><div class="col-xs-8 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1 class="text-center">{{user.username}}</h1>
                <p>{{ user.birthday|date('Y') }} Years</br>{{ user.city }}, {{ user.country }}</br>{{ user.footballClub }}</br>{{ user.foot }} foot</br>Position: {{ user.fieldPosition }}</p>
              </div><!--
              --><div class="col-xs-2 col-sm-3 col-md-3 col-lg-3 vcenter">
                <h2 class="text-center">{{ level }}</h2>
                <div class="progress class="text-center"">
                  <div class="progress-bar {{ style }} progress-bar-striped active" role="progressbar" aria-valuenow="{{ user.points }}" aria-valuemin="{{min}}" aria-valuemax="{{max}}" style="width:{{percent}}%;">
                    {{ user.points }} Points
                  </div>
                </div>
                <ul style="">
                  <li><img src="img/profile.png" alt="" style="width:10px;"/><p> 1st </p></li>
                  <li><img src="img/profile.png" alt="" style="width:10px;"/><p> 15nd </p></li>
                </ul>
              </div>
            </div>
            <!-- The last video section of thez profile-->
          {% if listVideos|length > 0 %}
            <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 vcenter">
                <video width="100%" controls>
                  <source src="/uploads/videos/{{video.id}}.{{ video.source }}" type="video/mp4">
                Your browser does not support the video tag.
                </video>
            </div><!--
         --><div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 vcenter"> 
                <div class="videotabback">
                  <div class="challengetitle text-center">
                    <h3 style="color:white;">My videos </h3>
                  </div>
                  <div class="challengecontent">
                      {% for video in listVideos %}
                        <div class="videotab row">
                          <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 vcenter">
                            <img src="/uploads/videos/thumbnail/{{ video.id }}.jpg" alt="" style="height:50px;"/>
                          </div><!--
                       --><div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 vcenter">
                            <p style="font-size:14px;">{{ video.title }},</br> {{ video.date|date('d-m-Y')}}</p>
                          </div>
                        </div>
                      {% endfor %}
                  </div>
                </div>
            </div>
          {% endif %}
            <!-- The challenges section of thez profile-->
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vcenter row">
                <div class="challengedescription">
                  <div class="challengetitle">
                    <h3 class="text-center" style="color:white;">My Challenges</h3>
                  </div>
                  <div class="challengecontent">
                    {% if listVideos|length > 0 %}
                      {% for video in listVideos %}
                        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 container text-center" style="margin:5px;{% if video.score == 300 %}background-color:yellow{% endif %}{% if video.score == 200 %}background-color:grey{% endif %}{% if video.score == 100 %}background-color:brown{% endif %};border-radius: 15px 50px;height:250px;">
                          <h4 style>{{ video.challenge.title }}</h4>
                          <a href="{{ path('bf_site_video', { 'id': video.id }) }}">
                          <img src="/uploads/videos/thumbnail/{{ video.id}}.jpg" alt="{{ video.thumbAlt }}" class="img-responsive"></a>
                          <p>{{video.title}}</p>
                        </div>
                      {% endfor %}
                    {% else %}
                    <p> This user didn't participate at any challenges</p>
                    {% endif %}
                  </div>
                </div>
              </div>
          </div>
        </div>
      </section>
{% endblock %}