{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
	<meta name="description" content="Bla bla bla concernant le profil.">
	<meta name="keywords" content="soccer,football, ">
{% endblock %}


{% block title %}
  Profile of {{ user.username }}- {{ parent() }} sur BestFootball.com 
{% endblock %}

{% block content %}
<input type="hidden" name="user" id="user" value="{{ user.id }}">
<section class="profile">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
            <!-- The top section of the profile page -->
            {% include "BFSiteBundle:Profile:Profiletop.html.twig" with {"user": user, "rank": rank,"profiletop":profiletop} only %}
            <!-- END of the top profile section -->

            <!--Begin of the video section -->
            {% if lists.listVideos|length > 0 %} <!-- The user has videos in freestyle of challenge categorie -->
              {% include "BFSiteBundle:Profile:Videosection.html.twig" with {'lists' : lists } only %}
            {% endif %}
            <!-- End of the video section -->
                 
            <!--Begin of the challenge section -->
              {% include "BFSiteBundle:Profile:Challengesection.html.twig" with {'lists' : lists } only %}
            <!-- End of the challenge section -->
          
            <!--Begin of the Duel section -->
              {% include "BFSiteBundle:Profile:Duelsection.html.twig" with {'lists' : lists } only %}
            <!-- End of the Duel section -->
    </div>
  </div>
</section>
{% endblock %}


{% block javascripts %}
  <script>
      var video;
      var playlist;
      var tracks;
      var current;

      init();
      function init(){
          current = 0;
          video = $('#video');
          playlist = $('.playlist');
          tracks = playlist.find('li a');
          len = tracks.length - 1;
          video[0].volume = .90;
          //video[0].play();
          playlist.find('a').click(function(e){
              e.preventDefault();
              link = $(this);
              current = link.parent().index();
              run(link, video[0]);
          });
          video[0].addEventListener('ended',function(e){
              current++;
              if(current == len){
                  current = 0;
                  link = playlist.find('a')[0];
              }else{
                  link = playlists..find('a')[current];    
              }
              run($(link),video[0]);
          });
      }
      function run(link, player){
              player.src = link.attr('href');
              par = link.parent();
              par.addClass('active').siblings().removeClass('active');
              video[0].load();
              video[0].play();
      }
    </script>

{% if follow is not null %}
  {% if follow == 0 %}
  <script>
    $("#unfollow").hide();
    $("#follow").click(function(){ 
        var id = $("#user").val();
        var DATA = 'id=' + id;
        $.ajax({
            type: "POST",
            url: "{{ path('bf_site_follow')}}",
            data: DATA,
            cache: false,
            success: function(){
               $('#unfollow').show();
               $("#follow").hide();
               $("#unfollow").click(function(){ 
                var id = $("#user").val();
                var DATA = 'id=' + id;
                $.ajax({
                    type: "POST",
                    url: "{{ path('bf_site_unfollow')}}",
                    data: DATA,
                    cache: false,
                    success: function(){
                       $('#follow').show();
                       $("#unfollow").hide();
                    }
                });    
                return false;
            });
            }
        });    
        return false;
    });
  </script>
  {% elseif follow == 1 %}
  <script>
    $("#follow").hide();
    $("#unfollow").click(function(){ 
        var id = $("#user").val();
        var DATA = 'id=' + id;
        $.ajax({
            type: "POST",
            url: "{{ path('bf_site_unfollow')}}",
            data: DATA,
            cache: false,
            success: function(){
               $('#follow').show();
               $("#unfollow").hide();
               $("#follow").click(function(){ 
                var id = $("#user").val();
                var DATA = 'id=' + id;
                $.ajax({
                    type: "POST",
                    url: "{{ path('bf_site_follow')}}",
                    data: DATA,
                    cache: false,
                    success: function(){
                       $('#unfollow').show();
                       $("#follow").hide();
                    }
                });    
                return false;
            });
            }
        });    
        return false;
    });
  </script>
  {% endif %}
{% endif %}

{% endblock %}
