
{% if country == 'global' %}
<!-- we put the world button on active -->
	<a href="{{ path('bf_site_ranking_challenge', {'country': 'global', 'state':'country'}) }}" class="btn btn-country-active" style="width:100%;">
		{{ 'World'|trans }}
	</a>

	<!--button for the first country -->

	<a class="btn btn-country" role="button" data-toggle="collapse" href="#{{ listCountries.0.id }}" aria-expanded="false" aria-controls="{{ listCountries.0.id }}" style="width:100%;">
  		{{ listCountries.0.name }}
	</a>
	<div class="collapse" id="{{ listCountries.0.id }}">
	  <div class="well text-center">
	  	<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.0.name, 'state':'country'}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ 'Country Ranking'|trans }}
		</a>
	  	{% for state in listCountries.0.states %}
			<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.0.name, 'state': state.name}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ state.name }}
			</a>
		
		{% endfor %}
	  </div>
	</div>

	<!--button for the second country -->

	<a class="btn btn-country" role="button" data-toggle="collapse" href="#{{ listCountries.1.id }}" aria-expanded="false" aria-controls="{{ listCountries.1.id }}" style="width:100%;">
  		{{ listCountries.1.name }}
	</a>
	<div class="collapse" id="{{ listCountries.1.id }}">
	  <div class="well text-center">
	  	<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.1.name, 'state':'country'}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ 'Country Ranking'|trans }}
		</a>
	  	{% for state in listCountries.1.states %}
			<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.1.name, 'state': state.name}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ state.name }}
			</a>
		
		{% endfor %}
	  </div>
	</div>

	<!--button for the third country -->

	<a class="btn btn-country" role="button" data-toggle="collapse" href="#{{ listCountries.2.id }}" aria-expanded="false" aria-controls="{{ listCountries.2.id }}" style="width:100%;">
  		{{ listCountries.2.name }}
	</a>
	<div class="collapse" id="{{ listCountries.2.id }}">
	  <div class="well text-center">
	  	<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.2.name, 'state':'country'}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ 'Country Ranking'|trans }}
		</a>
	  	{% for state in listCountries.2.states %}
			<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.2.name, 'state': state.name}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ state.name }}
			</a>
		
		{% endfor %}
	  </div>
	</div>

{% elseif country.name == 'Belgium' %}
<!-- we put the Belgium button on active -->
	<a href="{{ path('bf_site_ranking_challenge', {'country': 'global', 'state':'country'}) }}" class="btn btn-country" style="width:100%;">
		{{ 'World'|trans }}
	</a>

	<!--button for the first country -->

	<a class="btn btn-country-active" role="button" data-toggle="collapse" href="#{{ listCountries.0.id }}" aria-expanded="false" aria-controls="{{ listCountries.0.id }}" style="width:100%;">
  		{{ listCountries.0.name }}
	</a>
	<div class="collapse" id="{{ listCountries.0.id }}">
	  <div class="well text-center">
	  	<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.0.name, 'state':'country'}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ 'Country Ranking'|trans }}
		</a>
	  	{% for state in listCountries.0.states %}
			<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.0.name, 'state': state.name}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ state.name }}
			</a>
		
		{% endfor %}
	  </div>
	</div>

	<!--button for the second country -->

	<a class="btn btn-country" role="button" data-toggle="collapse" href="#{{ listCountries.1.id }}" aria-expanded="false" aria-controls="{{ listCountries.1.id }}" style="width:100%;">
  		{{ listCountries.1.name }}
	</a>
	<div class="collapse" id="{{ listCountries.1.id }}">
	  <div class="well text-center">
	  	<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.1.name, 'state':'country'}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ 'Country Ranking'|trans }}
		</a>
	  	{% for state in listCountries.1.states %}
			<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.1.name, 'state': state.name}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ state.name }}
			</a>
		
		{% endfor %}
	  </div>
	</div>

	<!--button for the third country -->

	<a class="btn btn-country" role="button" data-toggle="collapse" href="#{{ listCountries.2.id }}" aria-expanded="false" aria-controls="{{ listCountries.2.id }}" style="width:100%;">
  		{{ listCountries.2.name }}
	</a>
	<div class="collapse" id="{{ listCountries.2.id }}">
	  <div class="well text-center">
	  	<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.2.name, 'state':'country'}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ 'Country Ranking'|trans }}
		</a>
	  	{% for state in listCountries.2.states %}
			<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.2.name, 'state': state.name}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ state.name }}
			</a>
		
		{% endfor %}
	  </div>
	</div>


{% elseif country.name == 'France' %}
<!-- we put the France button on active -->
<a href="{{ path('bf_site_ranking_challenge', {'country': 'global', 'state':'country'}) }}" class="btn btn-country" style="width:100%;">
		{{ 'World'|trans }}
	</a>

	<!--button for the first country -->

	<a class="btn btn-country" role="button" data-toggle="collapse" href="#{{ listCountries.0.id }}" aria-expanded="false" aria-controls="{{ listCountries.0.id }}" style="width:100%;">
  		{{ listCountries.0.name }}
	</a>
	<div class="collapse" id="{{ listCountries.0.id }}">
	  <div class="well text-center">
	  	<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.0.name, 'state':'country'}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ 'Country Ranking'|trans }}
		</a>
	  	{% for state in listCountries.0.states %}
			<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.0.name, 'state': state.name}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ state.name }}
			</a>
		
		{% endfor %}
	  </div>
	</div>

	<!--button for the second country -->

	<a class="btn btn-country-active" role="button" data-toggle="collapse" href="#{{ listCountries.1.id }}" aria-expanded="false" aria-controls="{{ listCountries.1.id }}" style="width:100%;">
  		{{ listCountries.1.name }}
	</a>
	<div class="collapse" id="{{ listCountries.1.id }}">
	  <div class="well text-center">
	  	<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.1.name, 'state':'country'}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ 'Country Ranking'|trans }}
		</a>
	  	{% for state in listCountries.1.states %}
			<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.1.name, 'state': state.name}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ state.name }}
			</a>
		
		{% endfor %}
	  </div>
	</div>

	<!--button for the third country -->

	<a class="btn btn-country" role="button" data-toggle="collapse" href="#{{ listCountries.2.id }}" aria-expanded="false" aria-controls="{{ listCountries.2.id }}" style="width:100%;">
  		{{ listCountries.2.name }}
	</a>
	<div class="collapse" id="{{ listCountries.2.id }}">
	  <div class="well text-center">
	  	<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.2.name, 'state':'country'}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ 'Country Ranking'|trans }}
		</a>
	  	{% for state in listCountries.2.states %}
			<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.2.name, 'state': state.name}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ state.name }}
			</a>
		
		{% endfor %}
	  </div>
	</div>

{% elseif country.name == 'United States' %}
<!-- we put the USA button on active -->
	<a href="{{ path('bf_site_ranking_challenge', {'country': 'global', 'state':'country'}) }}" class="btn btn-country" style="width:100%;">
		{{ 'World'|trans }}
	</a>

	<!--button for the first country -->

	<a class="btn btn-country" role="button" data-toggle="collapse" href="#{{ listCountries.0.id }}" aria-expanded="false" aria-controls="{{ listCountries.0.id }}" style="width:100%;">
  		{{ listCountries.0.name }}
	</a>
	<div class="collapse" id="{{ listCountries.0.id }}">
	  <div class="well text-center">
	  	<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.0.name, 'state':'country'}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ 'Country Ranking'|trans }}
		</a>
	  	{% for state in listCountries.0.states %}
			<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.0.name, 'state': state.name}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ state.name }}
			</a>
		
		{% endfor %}
	  </div>
	</div>

	<!--button for the second country -->

	<a class="btn btn-country" role="button" data-toggle="collapse" href="#{{ listCountries.1.id }}" aria-expanded="false" aria-controls="{{ listCountries.1.id }}" style="width:100%;">
  		{{ listCountries.1.name }}
	</a>
	<div class="collapse" id="{{ listCountries.1.id }}">
	  <div class="well text-center">
	  	<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.1.name, 'state':'country'}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ 'Country Ranking'|trans }}
		</a>
	  	{% for state in listCountries.1.states %}
			<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.1.name, 'state': state.name}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ state.name }}
			</a>
		
		{% endfor %}
	  </div>
	</div>

	<!--button for the third country -->

	<a class="btn btn-country-active" role="button" data-toggle="collapse" href="#{{ listCountries.2.id }}" aria-expanded="false" aria-controls="{{ listCountries.2.id }}" style="width:100%;">
  		{{ listCountries.0.name }}
	</a>
	<div class="collapse" id="{{ listCountries.2.id }}">
	  <div class="well text-center">
	  	<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.2.name, 'state':'country'}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ 'Country Ranking'|trans }}
		</a>
	  	{% for state in listCountries.2.states %}
			<a href="{{ path('bf_site_ranking_challenge', {'country': listCountries.2.name, 'state': state.name}) }}" class="btn btn-country text-center" style="width:90%;">
				{{ state.name }}
			</a>
		
		{% endfor %}
	  </div>
	</div>
{% endif %}
