{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  Challenge Ranking - {{ parent() }}
{% endblock %}


{% block content %}
<section class="homepage">
  	<div class="row" style="min-height:65vh;margin-top:50px;">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
      		<div class="row">
        	<!--Begin of the ranking page -->

        		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center" >
        			<div class="row">
        				{% include "BFSiteBundle:Ranking:challengeselector.html.twig" with {"listCountries": listCountries} only %}
        			</div>
        		</div>


        		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 text-center" >
        			<div class="row">
						<div class="challengedescription">
							<!-- Nav tabs -->
						    <ul class="nav nav-tabs" role="tablist">
						        <li role="presentation" class="active" style="width:50%;"><a href="#challenge" aria-controls="challenge" role="tab" data-toggle="tab">Challenge Ranking</a></li>
						        <li role="presentation"  style="width:50%;"><a href="{{ path('bf_site_ranking_duel', {'country': 'global', 'state':'country'}) }}">Duel Ranking</a></li>
						    </ul>
							<div class="challengetitle">
							    	{% if country == 'global' %}
							    		<h3 style="color:white;">Global challenge Ranking</h3>
							    	{% elseif state == 'country' %}
							    			<h3 style="color:white;">{{ country.name }} challenge Ranking</h3>
							    	{% else %}
							    			<h3 style="color:white;">{{ state.name }} - {{ state.country.name }}  challenge Ranking</h3>
							    	{% endif %}
							</div>
							<div class="challengecontent">

							    <div class="tab-content row" style="padding-bottom:10px;">
          							<div role="tabpanel" class="tab-pane active" id="challenge">

									 	<ul class="nav nav-tabs" role="tablist">
										    <li role="presentation" class="active" style="width:33%;" ><a href="#mixed" aria-controls="mixed" role="tab" data-toggle="tab">Mixed</a></li>
										    <li role="presentation" style="width:33%;"><a href="#girls" aria-controls="girls" role="tab" data-toggle="tab">Girls</a></li>
										    <li role="presentation" style="width:34%;"><a href="#boys" aria-controls="boys" role="tab" data-toggle="tab">Boys</a></li>
										</ul>


										<div class="tab-content">
										  <div role="tabpanel" class="tab-pane fade in active" id="mixed">
										  	<table class="table table-striped">
										        {% include "BFSiteBundle:Ranking:table.html.twig" with {"ranking": ranking} only %}             
										    </table>
										  </div>
										  <div role="tabpanel" class="tab-pane fade" id="girls">
										  	<table class="table table-striped">
										  		{% include "BFSiteBundle:Ranking:table.html.twig" with {"ranking": rankings.rankingGirls} only %}
										    </table>
										  </div>
										  <div role="tabpanel" class="tab-pane fade" id="boys">
										  	<table class="table table-striped">
										  		{% include "BFSiteBundle:Ranking:table.html.twig" with {"ranking": rankings.rankingBoys} only %}
										    </table>
										  </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
        	</div>
      	</div>
    </div>
</section>
{% endblock %}
