{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  Duel Ranking - {{ parent() }}
{% endblock %}


{% block content %}
 <section class="homepage">
  	<div class="row" style="min-height:65vh;margin-top:50px;">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
      		<div class="row">
        	<!--Begin of the ranking page -->

        		<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 text-center" >
        			<div class="row">
        				<a href="{{ path('bf_site_ranking_challenge', {'country': 'global', 'state':'country'}) }}" class="btn btn-primary" style="width:100%;">
							<i class="glyphicon glyphicon-globe"></i>
							World
						</a>
						</br>

						{% for country in listCountries %}
						<a class="btn btn-primary" role="button" data-toggle="collapse" href="#{{ country.id }}" aria-expanded="false" aria-controls="{{ country.id }}" style="width:100%;">
						  {{ country.name }}
						</a>

						<div class="collapse" id="{{ country.id }}">
						  <div class="well text-center">
						  	<a href="{{ path('bf_site_ranking_challenge', {'country': country.name, 'state':'country'}) }}" class="btn btn-primary text-center" style="width:90%;">
									Country Ranking
							</a>
						  	{% for state in country.states %}
								<a href="{{ path('bf_site_ranking_challenge', {'country': country.name, 'state': state.name}) }}" class="btn btn-primary text-center" style="width:90%;">
									{{ state.name }}
								</a>
							
							{% endfor %}
						  </div>
						</div>
						
						{% endfor %}
        			</div>
        		</div>


        		<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 text-center" >
        			<div class="row">
						<div class="challengedescription">
							<!-- Nav tabs -->
						    <ul class="nav nav-tabs" role="tablist">
						        <li role="presentation" style="width:50%;"><a href="{{ path('bf_site_ranking_challenge', {'country': 'global', 'state':'country'}) }}" >Challenge Ranking</a></li>
						        <li role="presentation" class="active" style="width:50%;" aria-controls="duel" role="tab" data-toggle="tab"><a href="#duel">Duel Ranking</a></li>
						    </ul>
							<div class="challengetitle">
							    	{% if country == 'global' %}
							    		<h3 style="color:white;">Global Duel Ranking</h3>
							    	{% elseif state == 'country' %}
							    			<h3 style="color:white;">{{ country.name }} Duel Ranking</h3>
							    	{% else %}
							    			<h3 style="color:white;">{{ state.name }} - {{ state.country.name }}  Duel Ranking</h3>
							    	{% endif %}
							</div>
							<div class="challengecontent">

							    <div class="tab-content row" style="padding-bottom:10px;">
          							<div role="tabpanel" class="tab-pane active" id="challenge">

									 	<ul class="nav nav-tabs" role="tablist">
										    <li role="presentation" class="active" style="width:50%;" ><a href="#mixed" aria-controls="mixed" role="tab" data-toggle="tab">Mixed</a></li>
										    <li role="presentation" style="width:50%;"><a href="#girls" aria-controls="girls" role="tab" data-toggle="tab">Girls</a></li>
										</ul>


										<div class="tab-content">
										  <div role="tabpanel" class="tab-pane fade in active" id="mixed">
										  	<table class="table table-striped">
										        {% include "BFSiteBundle:Ranking:dueltable.html.twig" with {"ranking": ranking} only %}             
										    </table>
										  </div>
										  <div role="tabpanel" class="tab-pane fade" id="girls">
										  	<table class="table table-striped">
										  		{% include "BFSiteBundle:Ranking:dueltable.html.twig" with {"ranking": rankingGirls} only %}
										    </table>
										  </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
        	</div>
      	</div>
    </div>
</section>
{% endblock %}
