{% set i = 1 %}
	{% for user in ranking %}
		{# here we make the little thumbnails for every video #}
	<tr style="height:50px;">
        <td>{{ i }}</td>
        <td style="height:50px;"><img src="{{ user.media.path }}" alt="{{ user.media.name }}" style="height:101%;border-radius:50%"/></td>
        <td><a href="{{ path('bf_site_profile', { 'username': user.username }) }}">{{ user.username }}</a></td>
        <td>{{ user.points }}</td>
    </tr>
			
	{% set i= i+1 %}
{% endfor %} 
