<div class="videotabback">
	<div style="width: 100%; height: 21px; border-bottom: 1px solid #95cd36; text-align: center;background-color:#FFF;">
		<span style="font-size: 27px; background-color: #FFF; padding: 0 10px;color:#95cd36;">
		    {{ 'Last Videos'|trans }} <!--Padding is optional-->
		</span>
	</div>
	<div style="width: 100%; height: 15px;background-color:#FFF;">
	</div>


	<div class="challengecontent">
    	{% for video in listVideos %}
	  			<div class="videotab row">
		            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 vcenter">
		              <a href="{{ path('bf_site_video', { 'code': video.code }) }}"><img src="{{ video.thumbUrl }}" alt="{{ video.thumbAlt }}" style="max-height:50px;max-width:100%"/></a>
		            </div><!--
		         --><div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 vcenter">
		              <p style="font-size:14px;">{{ video.title }},</br> {{ video.date|date('d-m-Y')}} {{ 'by'|trans }} <a href="{{ path('bf_site_profile', { 'username': video.user.username }) }}" style=""> {{ video.user.username }} </a></p>
		            </div>
		        </div>		
	  	{% endfor %}
	</div>
</div>
