{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  Challenges - {{ parent() }}
{% endblock %}

{% block meta %}
  <style type="text/css">
  .btn-challenge{
  	width:100%;
  	background-color:#A4A4A4;
  	font-size:16px;
    margin-top:5px;
  }
  .btn-challenge-active{
  	width:100%;
  	background-color:#95cd36;
  	font-size:18px;
  	color:white;
    margin-top:5px;
  }
  </style>
{% endblock %}


{% block content %}
<section class="homepage">
	<div class="row" style="margin-top:50px;">
     	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
        	<div class="row">
        		<!-- Option to check challenge or partner challenges -->
        		<div class="row">
        			<div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-3 col-lg-offset-3 text-center">
        				<div class="row">
        					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
        						<div class="row">
        							<a href="{{ path('bf_site_challenges') }}" class="btn btn-challenge-active">{{ 'Challenges'|trans }}</a>
        						</div>
        					</div>
        					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
        						<div class="row">
        							<a href="{{ path('bf_site_partnerChallenges') }}" class="btn btn-challenge" style="">{{ 'challenge.sponsored.button'|trans }}</a>
        						</div>
        					</div>
						</div>
					</div>
				</div>
				<!-- End of the select challenges option -->





        		<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" style="padding:10px;">
					<div class="challenge">
						<div class="row">
							</br>
							<h3 class="text-center">{{ 'Propose your own challenge !'|trans }}</h3>
							<p class="text-center">{{ 'You have an idea for a new challenge? Propose your own challenge by sending us a message!'|trans }}</p>
							<button onclick="location.href='{{ path('bf_site_contact') }}'" class="btn btn-participate" type="submit">{{ 'Contact us!'|trans }}</button>
						</div>
					</div>
				</div>
        		<!-- Begin of the challenges page -->
        		{% for challenge in listChallenges %}
					{% include "BFSiteBundle:Challenge:Challengethumb.html.twig" with {"challenge": challenge} only %}
				{% endfor %}
        		<!-- End of the challenges page -->
        	</div>
        </div>
    </div>
</section>
{% endblock %}
