<div class="videotabback">
	<div class="challengetitle">
	    <h3 style="color:white;">Last videos </h3>
	</div>
	<div class="challengecontent">
    	{% for video in listVideos %}
	  			<div class="videotab row">
		            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 vcenter">
		              <a href="{{ path('bf_site_video', { 'id': video.id }) }}"><img src="{{ video.thumbUrl }}" alt="{{ video.thumbAlt }}" style="max-height:50px;max-width:100%"/></a>
		            </div><!--
		         --><div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 vcenter">
		              <p style="font-size:14px;">{{ video.title }},</br> {{ video.date|date('d-m-Y')}} by <a href="{{ path('bf_site_profile', { 'username': video.user.username }) }}" style=""> {{ video.user.username }} </a></p>
		            </div>
		        </div>		
	  	{% endfor %}
	</div>
</div>
