<div class="col-xs-6 col-sm-4 col-md-3 col-lg-3" style="padding:10px;">
	<div class="row">
		<div class="challenge">
			<div class="row text-center">
				</br>
				<h3 class="text-center">
					{% if app.request.getLocale() == 'fr' %}			
		            	{{ challenge.titleFR }}
		            {% elseif app.request.getLocale() == 'en' %}
		            	{{ challenge.titleEN }}
		            {% else %}
		            	{{ challenge.titleEN }}
		            {% endif %}
		        </h3>
				<a href="{{ path('bf_site_challengeview', {'slug': challenge.slug}) }}"><img src="/uploads/challenges/thumbnail/{{ challenge.id }}.jpg" alt="thumbnail of {{ challenge.titleEN }}" style="max-width:90%;max-height:150px;" class="text-center"></a>
								
				<button onclick="location.href='{{ path('bf_site_challengeview', {'slug': challenge.slug}) }}'" class="btn btn-participate" type="submit">{{ 'Participate'|trans }}</button>
			</div>
		</div>
	</div>
</div>
