<div class="challengedescription">



	<div style="width: 100%; height: 21px; border-bottom: 1px solid #95cd36; text-align: center;background-color:#FFF;">
		<span style="font-size: 27px; background-color: #FFF; padding: 0 10px;color:#95cd36;">
		    Ranking <!--Padding is optional-->
		</span>
	</div>
	<div style="width: 100%; height: 15px;background-color:#FFF;">
	</div>





	<div class="challengecontent">
	    <table class="table table-striped">
	       	{% set i = 1 %}
			{% for video in rankUsers %}
			{# here we make the little thumbnails for every video #}
				<tr style="height:50px;">
					<td>{{ i }}</td>
			        <td style="height:50px;"><img src="{{ video.user.media.path }}" alt="{{ video.user.media.name }}" style="height:100%;border-radius:50%"/></td>
			        <td><a href="{{ path('bf_site_profile', { 'username': video.user.username }) }}" style=""> {{ video.user.username }} </a></td>
			        <td>{{ video.score }}</td>
			        <td>{{ video.repetitions }}</td>
			        <td><a href="{{ path('bf_site_video', { 'code': video.code }) }}"><i class="fa fa-television"></i></a></td>
				</tr>
				{% set i= i+1 %}
			{% endfor %}
	    </table>
	</div>
</div>
