<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color: #FFF;margin-bottom: 10px; margin-top:20px;">
    <div class="row">
    	<div style="width: 100%; height: 21px; border-bottom: 1px solid #95cd36; text-align: center;background-color:#FFF;">
				<span style="font-size: 27px; background-color: #FFF; padding: 0 10px;color:#95cd36;">
				  {{ challenge.nomPartner }} <!--Padding is optional-->
				</span>
			</div>
			<div style="width: 100%; height: 15px;background-color:#FFF;">
			</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vcenter text-center">
    		<div class="row">
    			<a href="{{ challenge.lienPartner }}" target="_blank">
					<figure>
						<img src="{{ challenge.logoPartner }}" alt="Logo of {{ challenge.nomPartner }} on Bestfootball" style="max-width: 250px; width: 90%;" class="text-center"/>
					  	<figcaption>{{ challenge.nomPartner }}</figcaption>
					</figure>
				</a>
    		</div>
    	</div><!--
    	--><div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vcenter">
    		<div class="row">
    			<p style="text-align: justify;text-justify: inter-word;">
          			{% if app.request.getLocale() == 'fr' %}			
        				{{ challenge.descriptionPartnerFR }}
        			{% else %}
        				{{ challenge.descriptionPartnerEN }}
        			{% endif %}
          		</p>
    		</div>
    	</div>
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1" style="margin-top:5px;">
    		<div class="row">
    			{% if challenge.secondPrizeTitleFR is null %}
    				<!-- The First Price -->
	    			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
	    				<div class="row">

	    					<img src="/img/challenges/first.png" alt="" style="width:40%;max-width:85px;" class="text-center"/>
		    				<!--The gift -->
		    				

							{% if challenge.firstPrizeLogo is null %}
								<p>
									{% if app.request.getLocale() == 'fr' %}			
				        				{{ challenge.firstPrizeTitleFR }}
				        			{% else %}
				        				{{ challenge.firstPrizeTitleEN }}
				        			{% endif %}
					        	</p>
							{% else %}
			    				<figure>
									<img src="{{ challenge.firstPrizeLogo }}" alt="first prize for the {{ challenge.nomPartner }} challenge on Bestfootball" style="max-width:90%;" class="text-center"/>
									<figcaption>
							  			{% if app.request.getLocale() == 'fr' %}			
					        				{{ challenge.firstPrizeTitleFR }}
					        			{% else %}
					        				{{ challenge.firstPrizeTitleEN }}
					        			{% endif %}
							  		</figcaption>
								</figure>
							{% endif %}
	    				</div>
	    			</div>
    			{% else %}
	    			<!-- The First Price -->
	    			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
	    				<div class="row">

	    					<img src="/img/challenges/first.png" alt="" style="width:40%;max-width:85px;" class="text-center"/>
		    				<!--The gift -->
		    				

							{% if challenge.firstPrizeLogo is null %}
								<p>
									{% if app.request.getLocale() == 'fr' %}			
				        				{{ challenge.firstPrizeTitleFR }}
				        			{% else %}
				        				{{ challenge.firstPrizeTitleEN }}
				        			{% endif %}
					        	</p>
							{% else %}
			    				<figure>
									<img src="{{ challenge.firstPrizeLogo }}" alt="first prize for the {{ challenge.nomPartner }} challenge on Bestfootball" style="max-width:90%;" class="text-center"/>
									<figcaption>
							  			{% if app.request.getLocale() == 'fr' %}			
					        				{{ challenge.firstPrizeTitleFR }}
					        			{% else %}
					        				{{ challenge.firstPrizeTitleEN }}
					        			{% endif %}
							  		</figcaption>
								</figure>
							{% endif %}


	    				</div>
	    			</div>
	    			<!-- The second price -->
	    			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
	    				<div class="row">

	    					<img src="/img/challenges/second.png" alt="" style="width:40%;max-width:85px;" class="text-center"/>

	    				<!-- the gift -->
	    					{% if challenge.secondPrizeLogo is null %}
	    						<p>
	    							{% if app.request.getLocale() == 'fr' %}			
				        				{{ challenge.secondPrizeTitleFR }}
				        			{% else %}
				        				{{ challenge.secondPrizeTitleEN }}
				        			{% endif %}
					        	</p>
	    					{% else %}
	    						<figure>
									<img src="{{ challenge.secondPrizeLogo }}" alt="first prize for the {{ challenge.nomPartner }} challenge on Bestfootball" style="max-width:90%;" class="text-center"/>
							  		<figcaption>
							  			{% if app.request.getLocale() == 'fr' %}			
					        				{{ challenge.secondPrizeTitleFR }}
					        			{% else %}
					        				{{ challenge.secondPrizeTitleEN }}
					        			{% endif %}
							  		</figcaption>
								</figure>
	    					{% endif %}
	    				</div>
	    			</div>

	    			<!-- The third Price -->
	    			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center" >
	    				<div class="row">
	    					<!--The number of the place -->
	    						<img src="/img/challenges/third.png" alt="" style="width:40%;max-width:85px;" class="text-center"/>
	    					<!--The gift-->
	    					{% if challenge.thirdPrizeLogo is null %}
								<p>
									{% if app.request.getLocale() == 'fr' %}			
				        				{{ challenge.thirdPrizeTitleFR }}
				        			{% else %}
				        				{{ challenge.thirdPrizeTitleEN }}
				        			{% endif %}
					        	</p>
							{% else %}
			    				<figure>
									<img src="{{ challenge.thirdPrizeLogo }}" alt="third prize for the {{ challenge.nomPartner }} challenge on Bestfootball" style="max-width:90%;" class="text-center"/>
									<figcaption>
							  			{% if app.request.getLocale() == 'fr' %}			
					        				{{ challenge.thirdPrizeTitleFR }}
					        			{% else %}
					        				{{ challenge.thirdPrizeTitleEN }}
					        			{% endif %}
							  		</figcaption>
								</figure>
							{% endif %}
	    				</div>
	    			</div>
    			{% endif %}



    		</div>
    	</div>
    </div>
</div>
