<!--New email template Bestfootball -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>{{ subject }} - Bestfootball</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>
	<body>
		<table width="100%">
			<tr>
				<td>
					<table border="0" width="600px" style="border-collapse: collapse;margin:auto;">
						<tr>
							<td>
								<table width="100%">
									<tr>
										<td style="padding-top: 10px; padding-right: 150px; padding-bottom: 8px; padding-left: 150px;">
										<img src="http://bestfootball.fr/img/logo.png" alt="Bestfootball Logo" width="300" height="230" style="display: block;">
										</td>
									</tr>
									<tr>
										<td style="padding-top: 10px; padding-right: 10px; padding-bottom: 8px; padding-left: 10px; text-align:center;">
											<h1 style="color:#95cd36;font-family:helvetica;">{{ subject }}</h1>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						
						<tr>
							<td  bgcolor="#95cd36" style="padding-top: 10px; padding-right: 20px; padding-bottom: 8px; padding-left: 20px;">
								<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tbody>
										<tr>
											<td>
												<h2 style="color:white;font-family:helvetica;">Salut {{ user.username }},</h2>
											</td>
								 		</tr>
								 		<tr>
								  			<td>
								   				<p style="color:white;font-family:helvetica;text-align:justify;">
								   					{{ opponentVideo.user.username }} vient de participer au {{ opponentVideo.challenge.titleFR }} challenge et a dépassé votre nombre de répétitions. Pour regarder sa vidéo, clique sur le thumbnail à côté ou le bouton ci-dessous.
								   				</p>
								  			</td>
								  			<td valign="top" style="padding-left:15px;">
								  				<!-- Thumbnail of the new video -->
								  				<a href="http://bestfootball.fr{{ path('bf_site_video', {'code': opponentVideo.code })}}" target="_blank">			
								  					<img src="{{ opponentVideo.thumbUrl }}" alt="{{ opponentVideo.thumbAlt }}" width="260px" style="display: block;">
								  				</a>
								  			</td>
								 		</tr>
								 		<tr>
                                            <td colspan="2" style="text-align:center;">
                                                <!-- Button -->
                                                <a href="http://bestfootball.fr{{ path('bf_site_video', {'code': opponentVideo.code }) }}" target="_blank" class="btn btn-success" style="color: white;display: inline-block;padding: 6px 12px;margin-bottom: 0;font-size: 14px;font-weight: bold;line-height: 1.42857143;text-align: center;white-space: nowrap;vertical-align: middle;-ms-touch-action: manipulation;touch-action: manipulation;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-image: none;border: 1px solid transparent;border-radius: 4px;background-color: #5cb85c;border-color: #4cae4c;text-decoration: none;font-family:helvetica;">Vers la vidéo!</a>
                                            </td>
                                        </tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr bgcolor="#6E6E6E">				
							<td style="padding-top: 10px; padding-right: 20px; padding-bottom: 8px; padding-left: 20px;">
								<table border="0" cellpadding="0" cellspacing="0">
									<tbody>
										<tr>
										  	<td width="400px">
										  		<p style="font-family:helvetica;color:white;">
										  			® Bestfootball 2016<br>
													Unsubscribe to this newsletter instantly
										  		</p>
										  	</td>
										  	<td>
										  		<table border="0" cellpadding="0" cellspacing="0">
													<tbody>
														<tr>
														  	<td>
														   		<a href="https://twitter.com/Bestfootball_10">
														    		<img src="https://g.twimg.com/dev/documentation/image/Twitter_logo_white_32.png" alt="Twitter" width="38px" height="38px" style="display: block;" border="0">
														   		</a>
														  	</td>
												  			<td style="font-size: 0; line-height: 0;" width="20px"> 

												  			</td>
												  			<td>
													   			<a href="https://www.facebook.com/Bestfootball.official/">
													    			<img src="https://www.facebookbrand.com/img/fb-art.jpg" alt="Facebook" width="38px" height="38px" style="display: block;" border="0">
													   			</a>
												  			</td>
												 		</tr>
													</tbody>
												</table>
										  	</td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
