{% extends "::layout.html.twig" %}

{% block nav %}
  {% if app.user %} {# Here the user is connected to the site #}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">notifications<span class="caret"></span></a>
      <ul class="dropdown-menu">
        {% for notification in app.user.notifications %}
          <li><a href="{{ path('bf_site_profile_duels') }}">{{ notification.message }}</a></li>
          <li role="separator" class="divider"></li>
        {% endfor %}
      </ul>
    </li>





    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ app.user.username }}<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="{{ path('bf_site_profile', { 'username': app.user.username }) }}">My Profile</a></li>
        <li><a href="{{ path('bf_site_videos') }}">My Videos</a></li>
        <li><a href="{{ path('bf_site_profile_duels') }}">My Duels</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{ path('bf_site_settings') }}">Settings</a></li>
          {% if app.user and is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('bf_site_admin') }}">Admin section</a></li>
          {% endif %}
        <li role="separator" class="divider"></li>
        <li><a href="/logout">Deconnect</a></li>
      </ul>
    </li>
  {% else %} {# Here the user is NOT connected to the site #}
    <li>
        <button onclick="location.href='{{ path('bf_site_connect') }}'" class="btn btn-login" type="submit">Login / Subscribe </button>
    </li>
  {% endif %}
{% endblock %}

{% block body %}
  <div class="row" style="margin-top:50px;">
    {% for flash_message in app.session.flashbag.get('warning') %}
      <p class="bg-danger text-center" style="margin-top:100px;"> {{ flash_message }} </p>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('success') %}
      <p class="bg-success text-center" style="margin-top:100px;"> {{ flash_message }} </p>
    {% endfor %}
    {% block content %}
      {# here will come all the content of every page #}
    {% endblock %}
  </div>
{% endblock %}