{% extends "::layout.html.twig" %}

{% block nav %}
  {% if app.user %} {# Here the user is connected to the site #}
    <li>
      <form class="navbar-form" method="post" action="">
        <div class="input-group">
            {{ form_widget(search.user, {'attr': {'class': 'form-control'}}) }}
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit" id="submit" type="submit" style="margin-top:0px;"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </span>
        </div>
        {{ form_rest(search) }}
    </form>
    </li>
    {% set unwatched = 0 %}
    {# testing if there are unread notifications #}
    {% for notification in app.user.notifications %}
      {% if notification.watched == 0 %}
        {% set unwatched = 1 %}
      {% endif %}
    {% endfor %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        {% if unwatched == 1 %}
          <img src="/img/notifunread.jpg" alt="unread notifications on bestfootball" style="max-width:25px;max-height:20px;">
        {% else %}
          <img src="/img/notif.jpg" alt="notifications on bestfootball" style="max-width:25px;max-height:20px;">
        {% endif %}
          <span class="caret"></span></a>
      <ul class="dropdown-menu">
        {% for notification in app.user.notifications %}
          {% if notification.watched == 0 %}
            <li><a href="{{ path('bf_site_profile_duels') }}">{{ notification.message }}</a></li>
            <li role="separator" class="divider"></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img src="/uploads/img/{{ app.user.picture.src }}" alt="{{ app.user.picture.alt }}" style="max-width:25px;max-height:20px;"><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="{{ path('bf_site_profile', { 'username': app.user.username }) }}">My Profile</a></li>
        <li><a href="{{ path('bf_site_videos') }}">My Videos</a></li>
        <li><a href="{{ path('bf_site_profile_duels') }}">My Duels</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{ path('bf_site_settings') }}">Settings</a></li>
          {% if app.user and is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('bf_site_admin') }}">Admin section</a></li>
          {% endif %}
        <li role="separator" class="divider"></li>
        <li><a href="/logout">Deconnect</a></li>
      </ul>
    </li>
  {% else %} {# Here the user is NOT connected to the site #}
    <li>
        <button onclick="location.href='{{ path('fos_user_security_login') }}'" class="btn btn-login" type="submit">Login / Subscribe </button>
    </li>
  {% endif %}
{% endblock %}

{% block body %}
  <div  id="flashmessage" class="row text-center" style="margin-top:50px;position: fixed;">
    {% for flash_message in app.session.flashbag.get('warning') %}
      <p class="bg-danger text-center" style="margin-top:100px;"> {{ flash_message }} </p>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('success') %}
      <p class="bg-success text-center" style="margin-top:100px;"> {{ flash_message }} </p>
    {% endfor %}
  </div>
  {% block content %}
    {# here will come all the content of every page #}
  {% endblock %}
{% endblock %}


{% block javascripts %}
  <script>
  $("#flashmessage").click(function() {
      $( "div" ).slideUp();
  });
  </script>
{% endblock %}
