{% extends "::layout.html.twig" %}

{% block nav %}
  {% if app.user %} {# Here the user is connected to the site #}
    <li>
      {{ render(controller('BFSiteBundle:Logged:userSearch')) }}
    </li>
    {% set unwatched = 0 %}
    {# testing if there are unread notifications #}
    {% for notification in app.user.notifications %}
      {% if notification.watched == 0 %}
        {% set unwatched = unwatched + 1 %}
      {% endif %}
    {% endfor %}
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 5px 5px;">
        {% if unwatched > 0 %}
          <img src="/img/picto_4_notif.png" alt="unread notifications on bestfootball" style="max-width:40px;max-height:40px;">
          <span style="color:white;position:absolute;top:10px;left:21px;">{{ unwatched }}</span>
        {% else %}
          <img src="/img/picto_4.png" alt="notifications on bestfootball" style="max-width:40px;max-height:40px;">
        {% endif %}
          <span class="caret"></span></a>
      <ul class="dropdown-menu">
        {% for notification in app.user.notifications %}
          {% if notification.watched == 0 %}
            <li><a href="#" class="notification" data-notif="{{ notification.id }}" data-url="{{ notification.link }}">{{ notification.message }}</a></li>
            <li role="separator" class="divider"></li>
          {% endif %}
        {% endfor %}
        {% if unwatched == 0 %}
          <p>You don't have any notifications</p>
        {% endif %}
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 5px 5px;"><img src="{{ app.user.media.path }}" alt="{{ app.user.media.name }}" style="max-width:40px;max-height:40px;border-radius:50%;"><span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="{{ path('bf_site_profile', { 'username': app.user.username }) }}">{{ 'My Profile'|trans }}</a></li>
        <li><a href="{{ path('bf_site_videos') }}">{{ 'My Videos'|trans }}</a></li>
        <li><a href="{{ path('bf_site_profile_duels') }}">{{ 'My Duels'|trans }}</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="{{ path('bf_site_settings') }}">{{ 'My informations'|trans }}</a></li>
          {% if app.user and is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('bf_site_admin') }}">{{ 'Admin section'|trans }}</a></li>
          {% endif %}
          {% if app.user and is_granted('ROLE_AMBASSADEUR') %}
            <li><a href="{{ path('bf_ambassadeur_index') }}">Ambassadeur section</a></li>
          {% endif %}
        <li role="separator" class="divider"></li>
        <li><a href="/logout">{{ 'Deconnect'|trans }}</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="padding: 5px 5px;">
        {% if app.request.locale == 'en' %}
          <img src="/img/flags/en.png" alt="english flag on bestfootball" style="max-width:20px;max-height:20px;border-radius:50%;"><!-- English flag -->
        {% elseif app.request.locale == 'fr' %}
          <img src="/img/flags/fr.jpg" alt="Fench flag on bestfootball" style="max-width:20px;max-height:20px;border-radius:50%;"><!-- French flag -->
        {% endif %}
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a class="lanuage" href="#" data=language="en"></a><img src="/img/flags/en.png" alt="english flag on bestfootball" style="max-width:20px;max-height:20px;border-radius:50%;"></li><!-- English flag -->
        <li><a class="lanuage" href="#" data=language="fr"></a><img src="/img/flags/fr.jpg" alt="Fench flag on bestfootball" style="max-width:20px;max-height:20px;border-radius:50%;"></li><!-- French flag -->
      </ul>
    </li>






  {% else %} {# Here the user is NOT connected to the site #}
    <li>
        <button onclick="location.href='{{ path('fos_user_security_login') }}'" class="btn btn-login" type="submit">{{ 'Login / Subscribe'|trans }} </button>
    </li>
  {% endif %}
{% endblock %}

{% block body %}
  <div  id="flashmessage" class="row text-center" style="margin-top:50px;position:absolute;margin: 0 auto;left: 0;right: 0;width:200px;z-index: 500;">
    {% for flash_message in app.session.flashbag.get('warning') %}
      <p class="bg-danger text-center" style="margin-top:100px;z-index: 550;"> {{ flash_message }} </p>
    {% endfor %}

    {% for flash_message in app.session.flashbag.get('success') %}
      <p class="bg-success text-center" style="margin-top:100px;z-index: 550;"> {{ flash_message }} </p>
    {% endfor %}
  </div>
  {% block content %}
    {# here will come all the content of every page #}
  {% endblock %}
{% endblock %}


{% block javascripts %}
  <script>
  $("#flashmessage").click(function() {
      $("#flashmessage").slideUp();
  });
  </script>
  <script type="text/javascript">
  $(".notification").click(function(e) {
      e.preventDefault(e);
      var id = $(this).data("notif");
      var link = $(this).data("url");
      //ajax to mark it read.
      $.ajax({
            type: "POST",
            url: "{{ path('bf_site_api_notifread')}}",
            data: 'id=' + id,
            cache: false,
            success: function(code_html){
              window.location.replace('http://bestfootball.fr' + link);
            }
        });
  });
  </script>
  <script type="text/javascript">
    $("#user_search_form").submit(function(e) {
      e.preventDefault();
      var username = $("#form_user_text").val();
      console.log(username);
      var link = "{{ path('bf_site_profile', { 'username': 'link' }) }}";
      link = link.replace("link", username);
     
     window.location.replace(link);

    
  });

  </script>
  <script type="text/javascript">
  $('.language').click(function(e){
    var language = $(this).data('language');
    $.ajax({
            type: "POST",
            url: "{{ path('bf_site_api_language')}}",
            data: 'language=' + language,
            cache: false,
            success: function(){
              window.reload();
            }
        });
  });
  </script>
{% endblock %}
