{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  Delete video - {{ parent() }}
{% endblock %}

{% block content %}
<section class="profile">
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
  {# This is the content section of our page, here the user will be able to view all the challenges with the different niveau's! #}
    <div class="challengedescription row" style="margin-bottom:100px;">
      <div class="challengetitle">
        <h3 class="text-center" style="color:white;">Delete your video</h3>
      </div>
      <div class="challengecontent" style="min-height:440px;">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
         <img src="/uploads/videos/thumbnail/{{ video.id }}.jpg" alt="{{ video.thumbAlt }}" class="img-responsive"/>
        </div><!--
     --><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
          <form action="{{ path('bf_site_video_delete', {'id': video.id}) }}" method="post">
            <p>
              Title : {{ video.title }} </br>
              Description: {{ video.description }} </br>
              {% if video.challenge is not null %}
              Challenge : {{ video.challenge.title }} </br>
              {% endif %}
              Points earned: {{ video.score }} </br>
            </p>
            <p><b>Are you sure you want to delete this video ?</b></p>
            <input type="submit" value="Delete" class="btn btn-danger" />
            {{ form_rest(form) }}
          </form>
        </div> 
      </div>
    </div>
  </div>
</div>
</section>
{% endblock %}
