<div class="row" style="margin: 10px 0px">
    <a href="{{ path('bf_site_video', { 'code': video.code }) }}">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vcenter" style="height:100px;width:100%">
    		<div class="row">
		        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 vcenter row text-center">
		            <img src="{{ video.thumbUrl }}" alt="{{ video.thumbAlt }}" style="max-height:90px;max-width:100%"/>
		        </div><!--
		        --><div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 vcenter">
		            <p style="font-size:14px;"><b>
		            	{% if video.type == 'freestyle' %}
		                  {{ video.title }} - <a href="{{ path('bf_site_profile', { 'username': video.user.username }) }}" style=""> {{ video.user.username }} </a>
		                {% else %}
		                    {% if app.request.getLocale() == 'fr' %}            
		                        {{ video.challenge.titleFR }} - <a href="{{ path('bf_site_profile', { 'username': video.user.username }) }}" style=""> {{ video.user.username }} </a>
		                    {% elseif app.request.getLocale() == 'en' %}
		                        {{ video.challenge.titleEN }} - <a href="{{ path('bf_site_profile', { 'username': video.user.username }) }}" style=""> {{ video.user.username }} </a>
		                    {% else %}
		                        {{ video.challenge.titleEN }} - <a href="{{ path('bf_site_profile', { 'username': video.user.username }) }}" style=""> {{ video.user.username }} </a>
		                    {% endif %}
		                {% endif %}
		            </b></br>

		            {# the score bar #}
		            {% if video.type == 'challenge'%}
                  <p>Score: {{ video.score }} - {{ 'Repetitions'|trans }}: {{ video.repetitions }}X

                {% endif %}






		            </p>
		        </div>
	    	</div>
    	</div>
	</a>


    
</div>
