<div class="row" style="margin: 10px 0px">
    <a href="{{ path('bf_site_video', { 'code': video.code }) }}">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vcenter" style="height:100px;width:100%">
    		<div class="row">
		        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 vcenter row text-center">
		            <img src="/uploads/videos/thumbnail/{{ video.id }}.jpg" alt="{{ video.thumbAlt }}" style="max-height:90px;max-width:100%"/>
		        </div><!--
		        --><div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 vcenter">
		            <p style="font-size:14px;"><b>
		            	{% if video.type == 'freestyle' %}
		                  {{ video.title }} - <a href="{{ path('bf_site_profile', { 'username': video.user.username }) }}" style=""> {{ video.user.username }} </a>
		                {% else %}
		                    {% if app.request.getLocale() == 'fr' %}            
		                        {{ video.challenge.titleFR }} - <a href="{{ path('bf_site_profile', { 'username': video.user.username }) }}" style=""> {{ video.user.username }} </a>
		                    {% elseif app.request.getLocale() == 'en' %}
		                        {{ video.challenge.titleEN }} - <a href="{{ path('bf_site_profile', { 'username': video.user.username }) }}" style=""> {{ video.user.username }} </a>
		                    {% else %}
		                        {{ video.challenge.titleEN }} - <a href="{{ path('bf_site_profile', { 'username': video.user.username }) }}" style=""> {{ video.user.username }} </a>
		                    {% endif %}
		                {% endif %}
		            </b></br>

		            {# the score bar #}
		            {% if video.type == 'challenge'%}
                    <div class="container-fluid" style="margin-bottom:10px;">
                        <div class="row" style="height:28px;">
                            <div class="bar-wrap">
                                <div class="progress no-extra-space">
                                  <!--calcul du pourcentage pour les points -->
                                  {% if video.score == 0 %}
                                    {% set percentage = ((video.repetitions/(video.challenge.one - 0 )) * 16.6) + 0 %}
                                  {% elseif video.score == 50 %}
                                    {% set percentage = (((video.repetitions - video.challenge.one )/(video.challenge.two - video.challenge.one )) * 16.6) + 16.6 %}
                                  {% elseif video.score == 100 %}
                                    {% set percentage = (((video.repetitions - video.challenge.two )/(video.challenge.three - video.challenge.two )) * 16.6) + 33.2 %}
                                  {% elseif video.score == 150 %}
                                    {% set percentage = (((video.repetitions - video.challenge.three )/(video.challenge.four - video.challenge.three )) * 16.6) + 49.8 %}
                                  {% elseif video.score == 200 %}
                                    {% set percentage = (((video.repetitions - video.challenge.four )/(video.challenge.five - video.challenge.four )) * 16.6) + 66.4 %}
                                  {% elseif video.score == 250 %}
                                    {% set percentage = (((video.repetitions - video.challenge.five )/(video.challenge.six - video.challenge.five )) * 16.6) + 83.0 %}
                                  {% elseif video.score == 300 %}
                                    {% set percentage = 100 %}
                                  {% endif %}

                                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="{{ percentage }}" style="width:{{ percentage }}%;background-color:#87bb2f;">
                                    <span style="">{{ video.repetitions }} X</span>
                                  </div>

                  

                                </div>
                                <div style="right:16.6%" class="progress-marker"></div>
                                <div style="right:33.2%" class="progress-marker"></div>
                                <div style="right:49.8%" class="progress-marker"></div>
                                <div style="right:66.4%" class="progress-marker"></div>
                                <div style="right:83.0%" class="progress-marker"></div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="time-axis">
                              <div class="time-spot-end text-left">0</div>
                                <div class="time-spot text-center">50</div>
                                <div class="time-spot text-center">100</div>
                                <div class="time-spot text-center" style="width:16.6%;">150</div>
                                <div class="time-spot text-center">200</div>
                                <div class="time-spot text-center">250</div>
                                <div class="time-spot-end text-right">300</div>
                            </div>
                        </div>
                    </div>
                  	{% endif %}






		            </p>
		        </div>
	    	</div>
    	</div>
	</a>


    
</div>
