<div class="row" style="margin: 10px 0px">
    <a href="{{ path('bf_site_video', { 'id': video.id }) }}">
    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vcenter" style="height:100px;width:100%">
    		<div class="row">
		        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 vcenter row text-center">
		            <img src="/uploads/videos/thumbnail/{{ video.id }}.jpg" alt="{{ video.thumbAlt }}" style="max-height:90px;max-width:100%"/>
		        </div><!--
		        --><div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 vcenter">
		            <p style="font-size:14px;"><b>{{ video.title }}</b></br>
		            <a href="{{ path('bf_site_profile', { 'username': video.user.username }) }}" style=""> {{ video.user.username }} </a></p>
		        </div>
	    	</div>
    	</div>
	</a>


    
</div>
