{% extends "::base.html.twig" %}

{% block title %}
  Home Page - {{ parent() }}
{% endblock %}

{% block nav %}
    <li><a href="{{ path('bf_platform_upload') }}">Upload a video !</a></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }}<span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><a href="{{ path('bf_platform_profile', {'id': user.id}) }}">My Profile</a></li>
        <li><a href="{{ path('bf_platform_videos') }}">My Videos</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Settings</a></li>
        <li role="separator" class="divider"></li>
        <li><a href="logout">Deconnect</a></li>
      </ul>
    </li>
{% endblock %}

{% block body %}

  {# On définit un sous-titre commun à toutes les pages du bundle, par exemple #}
  <h1>All your videos!</h1>
  
  	{% if listVideos|length > 0 %}
      {% for video in listVideos %}
        <div class="col-md-3">
          <div class="row text-center">

        

            <a href="{{ path('bf_platform_view', {'id': video.id}) }}">
              
              <img src="{{ video.thumbUrl }}" alt="{{ video.thumbUrl }}" style="width:90%;border-radius:10px;">
              <h4>{{ video.title }}</h4>
            </a>
          </div>
        </div>

      {% endfor %}
  {% endif %}

  <hr>

  {# On définit un nouveau bloc, que les vues du bundle pourront remplir #}

{% endblock %}