{% extends "BFSiteBundle::base.html.twig" %}

{% block meta %}
	<meta name="description" content="{{ video.description }}">
	<meta name="keywords" content="soccer,football, {{ video.title }}, ">


  <!--All the metatags for facebook -->

  <meta property="og:url"                content="https://bestfootball.fr/view/{{video.code}}" />
  <meta property="og:type"               content="video" />
  <meta property="og:title"              content="{{ video.title }}  on bestfootball" />
  {% if video.type == 'challenge' and predict is not null %}
    <meta property="og:description"        content="{{ video.user.username }} video for the {{video.challenge.titleEN }} challenge on bestfootball." />
  {% else %}
    <meta property="og:description"        content="{{ video.user.username }} video on Bestfootball." />         
  {% endif %}
  <meta property="og:video"              content="{{ video.source }}" />
  <meta property="og:video:type"         content="video/mp4" />
  <meta property="og:video:width"         content="640" />
  <meta property="og:video:height"         content="360" />
  <meta property="og:image"         content="https://www.bestfootball.fr/uploads/videos/thumbnail/{{ video.id }}.jpg" />
  <meta property="fb:app_id" content="694354014040156" />
  
  <!--All the metatags for twitter -->

  <meta name="twitter:card" content="player">
  <meta name="twitter:site" content="@Bestfootball_10">
  <meta name="twitter:title" content="{{ video.title }}  on bestfootball">
  <meta name="twitter:description" content="{{ video.user.username }} video for the {{video.challenge.titleEN }} challenge on bestfootball.">
  <meta name="twitter:image" content="{{ video.thumbUrl }}">
  <meta name="twitter:player" content="https://www.bestfootball.fr/video/twitter/{{ video.code }}">
  <meta name="twitter:player:width" content="480">
  <meta name="twitter:player:height" content="480">
  <meta name="twitter:player:stream" content="{{ video.source }}">
  <meta name="twitter:player:stream:content_type" content="video/mp4">
  <style type="text/css">
    .bar-wrap {
    position: relative;
    }
    .progress-marker {
        width: 2px;
        height: 10px;
        position: absolute;
        background: black;
        bottom: -5px;
    }
    .time-axis {
        display: block;
        float: left;
        width: 100%;
        /*margin: 0px 0 10px 0;*/
    }
    .time-spot {
        display: block;
        float: left;
        width: 16.3%;
    }
    .time-spot-end {
        display: block;
        float: left;
        width: 9%;
    }
  </style>
  
{% endblock %}

{% block title %}
  Videos - {{ parent() }}
{% endblock %}

{% block content %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<input type="hidden" name="user" id="user" value="{{ video.user.id }}">
<section class="homepage">
  <div class="row" style="margin-top:50px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
      <div class="row">
        {# Begin of the video page #}
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
          <div class="row">
            {# the video #}
              {% include "BFSiteBundle:Video:video.html.twig" with {"video": video} only %}
            {# the description #}
            <div style="width:100%;background-color:white;margin-bottom:20px;padding:10px 10px;">
              <div class="row">
                {% if video.type == 'freestyle' %}
                  <h1 style="font-size:35px;margin-left:15px;">{{ video.title }}</h1>
                {% else %}
                  <h1 style="font-size:35px;margin-left:15px;">
                    {% if app.request.getLocale() == 'fr' %}      
                      {{ video.challenge.titleFR }}
                    {% elseif app.request.getLocale() == 'en' %}
                      {{ video.challenge.titleEN }}
                    {% else %}
                      {{ video.challenge.titleEN }}
                    {% endif %}
                  </h1>
                {% endif %}



                <p style="margin-left:15px;">{{ video.date|date('d-m-Y')}}</p>


                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vcenter row">
                  <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 vcenter row">
                      <img src="{{ video.user.media.path }}" alt="{{ video.user.media.name }}" style="width:100%;border-radius:50%;"/>
                  </div><!--
                --><div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 vcenter row">
                    <p style="font-size:16px;"><a href="{{ path('bf_site_profile', { 'username': video.user.username }) }}"> {{ video.user.username }}</a></p>

                      <div class="" style="height:90px;">
                        {% if follower is not null %}
                          {% if video.user.username != follower.username and video.user.username != app.user.username %}
                                                  
                            <!-- Button to follow the user -->
                            <a id="follow" value="{{ video.user.id }}" class="">
                              <img src="/img/follow.png" alt="Bestfootball follow pictogram" class="imagereactive" data-placement="top" data-toggle="tooltip" title="{{ 'Follow me!'|trans }}" />
                            </a>
                            <!-- Button to unfollow the user -->
                            <a id="unfollow" value="{{ video.user.id }}" class="">
                              <img src="/img/unfollow.png" alt="Bestfootball follow pictogram" class="imagereactive" data-placement="top" data-toggle="tooltip" title="{{ 'Unfollow'|trans }}"/>
                            </a>
                            <!-- Button to duel the user -->
                            <a href="{{ path('bf_site_duel_create', {'username': video.user.username }) }}" class="" >
                              <img src="/img/duel.png" alt="Bestfootball follow pictogram" class="imagereactive" data-placement="top" data-toggle="tooltip" title="{{ 'Duel me!'|trans }}"/>
                            </a>
                          {% endif %}
                        {% endif %}

                        {% if video.type == 'challenge' and predict is not null %}
                          <a id="predict">
                            <img src="/img/predict.png" alt="Bestfootball follow pictogram" class="imagereactive"  data-placement="top" data-toggle="tooltip" title="{{ 'Predict for me to win the challenge!'|trans }}"/> 
                          </a>
                        {% endif %}
                      </div>



                  </div>
                  <!-- the action buttons -->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="">
                    <div class="row">

                      

                      <h3 style="margin-top:5px;">{{ 'share this video'|trans }}</h3>
                     
                      <!--facebook share button -->
                      <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbestfootball.fr/view/{{video.id}}" class="popup">
                        <img src="/img/share/facebook.png" alt="Bestfootball facebook share button" style="width:45px;"/>
                      </a>

                      <!-- twitter share button-->
                      <a class="popup" href="https://twitter.com/share?url=https://bestfootball.fr/view/{{video.id}}&via=Bestfootball_10&related=viinsky360&hashtags=Bestfootball%2CVinskyDefiEspaceFoot&text={{ video.title }}%20by%20{{ video.user.username }}%20on%20bestfootball">
                        <img src="/img/share/twitter.png" alt="Bestfootball twitter share button" style="width:45px;"/>
                      </a>

                      <!-- google+ share button-->
                      <a href="https://plus.google.com/share?url=https%3A%2F%2Fbestfootball.fr/view/{{video.code}}" class="popup">
                        <img src="/img/share/google.png" alt="Bestfootball google+ share button" style="width:45px;"/>
                      </a>
                    </div>
                  </div>
                </div><!--
              --><div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vcenter row">



                  <p>
                    {{ 'Description:'|trans }}</br>{{ video.description }}
                  </p>
                  <a href="{{ path('bf_site_video_report', {'id': video.id}) }}">{{'report this video'|trans }}</a>

                  {% if video.type == 'challenge'%}
                    <h3>{{ 'Score'|trans }}</h3>
                    <div class="container-fluid" style="margin-bottom:10px;">
                        <div class="row" style="height:28px;">
                            <div class="bar-wrap">
                                <div class="progress no-extra-space">
                                  <!--calcul du pourcentage pour les points -->
                                  {% if video.score == 0 %}
                                    {% set percentage = ((video.repetitions/(video.challenge.one - 0 )) * 16.6) + 0 %}
                                  {% elseif video.score == 50 %}
                                    {% set percentage = (((video.repetitions - video.challenge.one )/(video.challenge.two - video.challenge.one )) * 16.6) + 16.6 %}
                                  {% elseif video.score == 100 %}
                                    {% set percentage = (((video.repetitions - video.challenge.two )/(video.challenge.three - video.challenge.two )) * 16.6) + 33.2 %}
                                  {% elseif video.score == 150 %}
                                    {% set percentage = (((video.repetitions - video.challenge.three )/(video.challenge.four - video.challenge.three )) * 16.6) + 49.8 %}
                                  {% elseif video.score == 200 %}
                                    {% set percentage = (((video.repetitions - video.challenge.four )/(video.challenge.five - video.challenge.four )) * 16.6) + 66.4 %}
                                  {% elseif video.score == 250 %}
                                    {% set percentage = (((video.repetitions - video.challenge.five )/(video.challenge.six - video.challenge.five )) * 16.6) + 83.0 %}
                                  {% elseif video.score == 300 %}
                                    {% set percentage = 100 %}
                                  {% endif %}

                                  <div class="progress-bar" role="progressbar" aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="{{ percentage }}" style="width:{{ percentage }}%;background-color:#87bb2f;">
                                    <span style="">{{ video.repetitions }} X</span>
                                  </div>

                  

                                </div>
                                <div style="right:16.6%" class="progress-marker"></div>
                                <div style="right:33.2%" class="progress-marker"></div>
                                <div style="right:49.8%" class="progress-marker"></div>
                                <div style="right:66.4%" class="progress-marker"></div>
                                <div style="right:83.0%" class="progress-marker"></div>
                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="time-axis">
                              <div class="time-spot-end text-left">0</div>
                                <div class="time-spot text-center">50</div>
                                <div class="time-spot text-center">100</div>
                                <div class="time-spot text-center" style="width:16.6%;">150</div>
                                <div class="time-spot text-center">200</div>
                                <div class="time-spot text-center">250</div>
                                <div class="time-spot-end text-right">300</div>
                            </div>
                        </div>
                    </div>


                    <div class="text-center">
                      <button onclick="location.href='{{ path('bf_site_challengeview', {'slug': video.challenge.slug}) }}'" class="btn btn-success text-center" type="submit" style="width:50%;">{{ 'To the challenge!'|trans }}</button>
                    </div>
                  {% endif %}
                
      
                </div>
              </div>
            </div>
            <!-- End of the description -->
            <!--Begin of the comment section -->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    
                    {% for comment in listComments %}
                      <div class="row" style="margin:5px 0px;">
                      <!-- the profile picture + link to the profile-->
                      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 vcenter">
                        <div class="row">
                          <a href="{{ path( 'bf_site_profile', {'username' : comment.user.username })}}">
                            <img src="{{ comment.user.media.path }}" alt="{{ comment.user.media.path }}" style="width:90%;border-radius:50%;"/>
                          </a>
                        </div>
                      </div><!--
                    --><div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 vcenter">
                    <!--the comment bubble -->
                        <div class="row">
                          <div class="bubble">
                            <p style="color:white;">{{ comment.content }}</p>
                            <p style="color:white;font-size:10px;">{{ comment.date|date("d/m/Y - H:i:s") }}</p>

                            <!-- if the user is the commentor or the video owner we show the delete button -->
                            {% if app.user is not null %}
                              {% if app.user.id == comment.user.id or app.user.id == video.user.id %}
                                <span id="commentDelete" class="glyphicon glyphicon-remove delete" data-comment="{{ comment.id }}" aria-hidden="true"     style="top:7px;position: absolute;right:7px;" data-placement="right" data-toggle="tooltip" title="Delete this comment!"></span>
                              {% endif %}
                            {% endif %}
                          </div>
                        </div>
                      </div>
                      </div>
                    {% endfor %}
                    <!-- section for adding comments -->
                    {% if app.user %}
                      <div class="row" style="margin-top:10px;">
                      <!-- the profile picture + link to the profile-->
                      <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 vcenter">
                        <div class="row">
                            <img src="{{ app.user.media.path }}" alt="{{ app.user.media.path }}" style="width:90%;border-radius:50%;"/>
                        </div>
                      </div><!--
                    --><div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 vcenter">
                    <!--the comment bubble -->
                        <div class="row">
                          <div class="bubble">
                            <textarea id="addComment" placeholder="{{'Type here your comment...'|trans }}" style="width:80%;"></textarea>
                            <button id="commentSubmit" class="btn btn-success inline pull-right" style="width:18%;height:46px;">{{'Send'|trans }}</button>
                          </div>
                        </div>
                      </div>
                       </div>
                    {% else %}
                        
                    {% endif %}

                   
                  </div>
            <!-- End of the comment section -->

          </div>
        </div>
        <!-- End of the video section -->
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
          <div class="row">
            {# the list with videos #}
            {% for video in listVideos %}
              {% include "BFSiteBundle:Video:Thumbrectangle.html.twig" with {"video": video} only %}
            {% endfor %}
          </div>
        </div>



      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% if follow is not null %}
  {% if follow == 0 %}
  <script>
    $("#unfollow").hide();
    $("#follow").click(function(){ 
        var id = $("#user").val();
        var DATA = 'id=' + id;
        $.ajax({
            type: "POST",
            url: "{{ path('bf_site_follow')}}",
            data: DATA,
            cache: false,
            success: function(){
               $('#unfollow').show();
               $("#follow").hide();
               $("#unfollow").click(function(){ 
                var id = $("#user").val();
                var DATA = 'id=' + id;
                $.ajax({
                    type: "POST",
                    url: "{{ path('bf_site_unfollow')}}",
                    data: DATA,
                    cache: false,
                    success: function(){
                       $('#follow').show();
                       $("#unfollow").hide();
                    }
                });    
                return false;
            });
            }
        });    
        return false;
    });
  </script>
  {% elseif follow == 1 %}
  <script>
    $("#follow").hide();
    $("#unfollow").click(function(){ 
        var id = $("#user").val();
        var DATA = 'id=' + id;
        $.ajax({
            type: "POST",
            url: "{{ path('bf_site_unfollow')}}",
            data: DATA,
            cache: false,
            success: function(){
               $('#follow').show();
               $("#unfollow").hide();
               $("#follow").click(function(){ 
                var id = $("#user").val();
                var DATA = 'id=' + id;
                $.ajax({
                    type: "POST",
                    url: "{{ path('bf_site_follow')}}",
                    data: DATA,
                    cache: false,
                    success: function(){
                       $('#unfollow').show();
                       $("#follow").hide();
                    }
                });    
                return false;
            });
            }
        });    
        return false;
    });
  </script>
  {% endif %}
{% endif %}

{% if video.type == 'challenge' and follower is not null %}
<script type="text/javascript">     
  //the prediction method.
  $("#predict").click(function(){ 
    var predictionedId = $("#user").val();
    var DATA = 'voterId=' + {{ app.user.id }} + '&predictionedId=' + predictionedId + '&challengeId=' + {{ video.challenge.id }};
      $.ajax({
        type: "POST",
        url: "{{ path('bf_site_api_predict')}}",
              data: DATA,
              cache: false,
              success: function(){
                location.reload();
              }
      });
  });
</script>
{% endif %}

<!-- Script for submitting comments -->
<script type="text/javascript">
  $("#commentSubmit").click(function(){
    var content = $('#addComment').val();
    var DATA = 'content=' + content + '&videoId=' + {{ video.id }};

    $.ajax({
        type: "POST",
        url: "{{ path('bf_site_api_comment_add')}}",
              data: DATA,
              cache: false,
              success: function(){
                location.reload();
              }
      });
  });                         

  $("#commentDelete").click(function(){
    var commentId = $(this).data('comment');
    var DATA = 'commentId=' + commentId;

    $.ajax({
        type: "POST",
        url: "{{ path('bf_site_api_comment_del')}}",
              data: DATA,
              cache: false,
              success: function(){
                location.reload();
              }
      });
  });
</script>
<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<script>
$(document).ready(function() {
  $('.popup').click(function(event) {
    var width  = 575,
        height = 400,
        left   = ($(window).width()  - width)  / 2,
        top    = ($(window).height() - height) / 2,
        url    = this.href,
        opts   = 'status=1' +
                 ',width='  + width  +
                 ',height=' + height +
                 ',top='    + top    +
                 ',left='   + left;
    
    window.open(url, 'twitter', opts);
 
    return false;
  });
});
</script>

{% endblock %}
