{% extends "BFSiteBundle::base.html.twig" %}

{% block meta %}
	<meta name="description" content="{{ video.description }}">
	<meta name="keywords" content="soccer,football, {{ video.title }}, ">

  <meta property="og:url"                content="http://bestfootball.fr/view/{{video.id}}" />
  <meta property="og:type"               content="video" />
  <meta property="og:title"              content="{{ video.title }}  on bestfootball" />
  {% if video.type == 'challenge' and predict is not null %}
    <meta property="og:description"        content="{{ video.user.username }} video for the {{video.challenge.title }} challenge on bestfootball." />
  {% else %}
    <meta property="og:description"        content="{{ video.user.username }} video on Bestfootball." />         
  {% endif %}
  <meta property="og:video"              content="http://www.bestfootball.fr/uploads/videos/{{ video.source }}" />
  <meta property="og:video:type"         content="video/mp4" />
  <meta property="og:video:width"         content="640" />
  <meta property="og:video:height"         content="360" />
  <meta property="og:image"         content="http://www.bestfootball.fr/uploads/videos/thumbnail/{{ video.id }}.jpg" />
  <meta property="fb:app_id" content="694354014040156" />
  
  
{% endblock %}

{% block title %}
  Videos - {{ parent() }}
{% endblock %}

{% block content %}
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<input type="hidden" name="user" id="user" value="{{ video.user.id }}">
<section class="homepage">
  <div class="row" style="margin-top:50px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
      <div class="row">
        {# Begin of the video page #}
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
          <div class="row">
            {# the video #}
              {% include "BFSiteBundle:Video:video.html.twig" with {"video": video} only %}
            {# the description #}
            <div style="width:100%;background-color:white;margin-bottom:20px;padding:10px 10px;min-height:200px;">
              <div class="row">
                {% if video.type == 'freestyle' %}
                  <h1 style="font-size:35px;margin-left:15px;">{{ video.title }}</h1>
                {% else %}
                  <h1 style="font-size:35px;margin-left:15px;">{{ video.challenge.title }}</h1>
                {% endif %}



                <p style="margin-left:15px;">{{ video.date|date('d-m-Y')}}</p>


                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter row">
                  <div class="col-xs-4 col-sm-3 col-md-3 col-lg-3 vcenter row">
                      <img src="{{ video.user.media.path }}" alt="{{ video.user.media.name }}" style="width:100%;border-radius:50%;"/>
                  </div><!--
                --><div class="col-xs-8 col-sm-8 col-md-9 col-lg-9 vcenter">
                    <p style="font-size:14px;"><a href="{{ path('bf_site_profile', { 'username': video.user.username }) }}" style=""> {{ video.user.username }}</a></p>
                  </div>
                  <!-- the action buttons -->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="height:50px;">
                    {% if follower is not null %}
                      {% if video.user.username != follower.username and video.user.username != app.user.username %}
                                              
                        <!-- Button to follow the user -->
                        <a id="follow" value="{{ video.user.id }}" class="">
                          <img src="/img/follow.png" alt="Bestfootball follow pictogram" class="imagereactive" data-placement="top" data-toggle="tooltip" title="Follow me!"/>
                        </a>
                        <!-- Button to unfollow the user -->
                        <a id="unfollow" value="{{ video.user.id }}" class="" data-placement="top" data-toggle="tooltip" title="Unfollow">
                          <img src="/img/unfollow.png" alt="Bestfootball follow pictogram" class="imagereactive"/>
                        </a>
                        <!-- Button to duel the user -->
                        <a href="{{ path('bf_site_duel_create', {'username': video.user.username }) }}" class="" data-placement="top" data-toggle="tooltip" title="Duel me!">
                          <img src="/img/duel.png" alt="Bestfootball follow pictogram" class="imagereactive"/>
                        </a>
                      {% endif %}
                    {% endif %}

                    {% if video.type == 'challenge' and predict is not null %}
                      <a id="predict">
                        <img src="/img/predict.png" alt="Bestfootball follow pictogram" class="imagereactive"  data-placement="top" data-toggle="tooltip" title="Predict for me to win the challenge!"/> 
                      </a>
                    {% endif %}
                    
                </div>
                </div><!--
              --><div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 vcenter row">



                  <p>
                    Description:</br>{{ video.description }}
                  </p>

                  {% if video.type == 'challenge'%}
                    <h3></h3>
                    <button onclick="location.href='{{ path('bf_site_challengeview', {'id': video.challenge.id}) }}'" class="btn btn-success" type="submit" style="width:50%;">To the challenge!</button>
                  {% endif %}
                
                    <h3>share this video</h3>
                   
                    <!--facebook share button -->
                    <div class="fb-share-button" data-href="http://bestfootball.fr/view/{{video.id}}" data-layout="button"></div>

                    <!-- twitter share button-->
                    <a class="twitter-share-button"
                      href="https://twitter.com/share"
                      data-url="http://bestfootball.fr/view/{{video.id}}"
                      data-via="Bestfootball_10"
                      data-related="viinsky360"


                      data-hashtags="Bestfootball,VinskyDefiEspaceFoot"




                      data-text="{{ video.title }} by {{ video.user.username }} on bestfootball">
                    Tweet
                    </a>
                </div>
              </div>
            </div>
            <!-- End of the description -->
            <!--Begin of the comment section -->
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    
                    {% for comment in listComments %}
                      <div class="row" style="margin-top:10px;">
                      <!-- the profile picture + link to the profile-->
                      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 vcenter">
                        <div class="row">
                          <a href="{{ path( 'bf_site_profile', {'username' : comment.user.username })}}">
                            <img src="{{ comment.user.media.path }}" alt="{{ comment.user.media.path }}" style="width:90%;border-radius:50%;"/>
                          </a>
                        </div>
                      </div><!--
                    --><div class="col-xs-8 col-sm-9 col-md-10 col-lg-10 vcenter">
                    <!--the comment bubble -->
                        <div class="row">
                          <div class="bubble">
                            <p style="color:white;">{{ comment.content }}</p>
                            <p style="color:white;font-size:10px;">{{ comment.date|date("d/m/Y - H:i:s") }}</p>
                          </div>
                        </div>
                      </div>
                      </div>
                    {% endfor %}
                    <!-- section for adding comments -->
                    {% if app.user %}
                      <div class="row" style="margin-top:10px;">
                      <!-- the profile picture + link to the profile-->
                      <div class="col-xs-4 col-sm-3 col-md-2 col-lg-2 vcenter">
                        <div class="row">
                            <img src="{{ app.user.media.path }}" alt="{{ app.user.media.path }}" style="width:90%;border-radius:50%;"/>
                        </div>
                      </div><!--
                    --><div class="col-xs-8 col-sm-9 col-md-10 col-lg-10 vcenter">
                    <!--the comment bubble -->
                        <div class="row">
                          <div class="bubble">
                            <textarea id="addComment" placeholder="Type here your comment..." style="width:80%;"></textarea>
                            <button id="commentSubmit" class="btn btn-success inline pull-right" style="width:18%;height:46px;">Send</button>
                          </div>
                        </div>
                      </div>
                       </div>
                    {% else %}
                        
                    {% endif %}

                   
                  </div>
            <!-- End of the comment section -->

          </div>
        </div>
        <!-- End of the video section -->
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
          <div class="row">
            {# the list with videos #}
            {% for video in listVideos %}
              {% include "BFSiteBundle:Video:Thumbrectangle.html.twig" with {"video": video} only %}
            {% endfor %}
          </div>
        </div>



      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
{% if follow is not null %}
  {% if follow == 0 %}
  <script>
    $("#unfollow").hide();
    $("#follow").click(function(){ 
        var id = $("#user").val();
        var DATA = 'id=' + id;
        $.ajax({
            type: "POST",
            url: "{{ path('bf_site_follow')}}",
            data: DATA,
            cache: false,
            success: function(){
               $('#unfollow').show();
               $("#follow").hide();
               $("#unfollow").click(function(){ 
                var id = $("#user").val();
                var DATA = 'id=' + id;
                $.ajax({
                    type: "POST",
                    url: "{{ path('bf_site_unfollow')}}",
                    data: DATA,
                    cache: false,
                    success: function(){
                       $('#follow').show();
                       $("#unfollow").hide();
                    }
                });    
                return false;
            });
            }
        });    
        return false;
    });
  </script>
  {% elseif follow == 1 %}
  <script>
    $("#follow").hide();
    $("#unfollow").click(function(){ 
        var id = $("#user").val();
        var DATA = 'id=' + id;
        $.ajax({
            type: "POST",
            url: "{{ path('bf_site_unfollow')}}",
            data: DATA,
            cache: false,
            success: function(){
               $('#follow').show();
               $("#unfollow").hide();
               $("#follow").click(function(){ 
                var id = $("#user").val();
                var DATA = 'id=' + id;
                $.ajax({
                    type: "POST",
                    url: "{{ path('bf_site_follow')}}",
                    data: DATA,
                    cache: false,
                    success: function(){
                       $('#unfollow').show();
                       $("#follow").hide();
                    }
                });    
                return false;
            });
            }
        });    
        return false;
    });
  </script>
  {% endif %}
{% endif %}

{% if video.type == 'challenge' and follower is not null %}
<script type="text/javascript">     
  //the prediction method.
  $("#predict").click(function(){ 
    var predictionedId = $("#user").val();
    var DATA = 'voterId=' + {{ app.user.id }} + '&predictionedId=' + predictionedId + '&challengeId=' + {{ video.challenge.id }};
      $.ajax({
        type: "POST",
        url: "{{ path('bf_site_api_predict')}}",
              data: DATA,
              cache: false,
              success: function(){
                location.reload();
              }
      });
  });
</script>
{% endif %}

<!-- Script for submitting comments -->
<script type="text/javascript">
  $("#commentSubmit").click(function(){
    var content = $('#addComment').val();
    var DATA = 'content=' + content + '&videoId=' + {{ video.id }};

    $.ajax({
        type: "POST",
        url: "{{ path('bf_site_api_comment_add')}}",
              data: DATA,
              cache: false,
              success: function(){
                location.reload();
              }
      });
  });                         

</script>

{% endblock %}
