{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  About - {{ parent() }}
{% endblock %}


{% block content %}
<section class="header text-center">
  <div class="row" style="margin-top:50px;">
    <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-3 col-md-offset-3 col-lg-offset-3" >
      <div class="challengedescription text-center" style="background-color:rgba(255,255,255,0.8);">
        <div class="challengetitle">
          <h3 style="color:white;">{{ 'about us'|trans }}</h3>
        </div>
        <div class="challengecontent text-center">
		<h4>Nassim, {{ 'number'|trans }} 10</h4>
		<p style="text-align:justify;">
			{{ 'about.nassim'|trans }}
		</p>
		<p>{{ 'qualities'|trans }} : {{ 'about.nassim.qualities'|trans }}</p>
		<p>{{ 'function'|trans }}: CEO</p>

		<h4>Jérémie, {{ 'number'|trans }} 9</h4>
		<p style="text-align:justify;">
			{{ 'about.jeremie'|trans }}
		<p>

		<p>{{ 'qualities'|trans }} :  {{ 'about.jeremie.qualities'|trans }}</p>
		<p>{{ 'function'|trans }} : COO</p>

		<h4>Joris, {{ 'number'|trans }} 3</h4>

		<p style="text-align:justify;">
			{{ 'about.joris'|trans }}
		</p>
		<p>{{ 'qualities'|trans }} : {{ 'about.joris.qualities'|trans }} </p>
		<p>{{ 'function'|trans }} : CTO</p>


        </div>
      </div>
    </div>
  </div>
</section>





{% endblock %}
