{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  Challenge {{ challenge.title }} - {{ parent() }}
{% endblock %}
	

{% block content %}
	<section class="header text-center">
		<h1 style="font-size:24px;color:white;">{{ challenge.title }}</h1>
		<div class="col-xs-10 col-sm-8 col-md-8 col-lg-8">
	  		<video width="100%" controls autoplay>
			  <source src="/uploads/challenges/{{ challenge.id }}.{{ challenge.videoUrl }}" type="video/webm" autoplay>
			Your browser does not support the video tag.
			</video>
			<p>description</br>
			{{ challenge.description }}</p>
  		</div>
  		<div class="col-xs-10 col-sm-4 col-md-4 col-lg-4">
  		{# button to call to participate #}
  			<a href="{{ path('bf_site_upload', { 'id': challenge.id }) }}" class="btn btn-info" role="button">Participate !</a>

  		<h2 style="font-size:20px;">The last videos of our users</h2>
  			{% for video in listVideos %}
  				{# here we make the little thumbnails for every video #}
			<div class="row jumbotron" style="background-color:green;padding:5px;">
				<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 vcenter"> {# the picture #}
					<a href="{{ path('bf_site_video', { 'id': video.id }) }}"><img src="/uploads/videos/thumbnail/{{ video.id}}.jpg" alt="{{ video.thumbAlt }}" class="img-responsive"></a>
				</div><!--
    			--><div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 vcenter">  {# the description of the video #}
					<h4 style="font-size:18px;">{{ video.title }}</h4>
					<p style="font-size:14px;">
						by <a href="{{ path('bf_site_profile', { 'username': video.user.username }) }}"> {{ video.user.username }} </a>
						on {{ video.date|date('d-m-Y')}}
					</p>
				</div>
			</div>
			{% endfor %}
  	</div>
	</section>





  

	

{% endblock %}