{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  Challenges - {{ parent() }}
{% endblock %}


{% block content %}
	<section class="header text-center">
		{% for challenge in listChallenges %}
			<div class="col-xs-6 col-sm-4 col-md-4 col-lg-4" style="padding: 5px;">
				<div class="challenge">
					<div class="row">
						<img src="/uploads/challenges/thumbnail/{{challenge.id}}.{{ challenge.imageUrl}}" alt="{{ challenge.imageAlt}}"/>
					</br>
					  	<h3>{{ challenge.title }}</h3>
					  	<a href="{{ path('bf_site_challenge', { 'id': challenge.id }) }}" class="btn btn-success" role="button">More info</a>
					  	<a href="{{ path('bf_site_upload', { 'id': challenge.id }) }}" class="btn btn-warning" role="button">Participate</a>

					</div>
				</div>
			</div>
		{% endfor %}
	</section>
{% endblock %}