{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  Challenges - {{ parent() }}
{% endblock %}


{% block content %}
	<section class="header text-center">
		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
			<div class="row">
				{% for challenge in listChallenges %}
					<div class="col-xs-6 col-sm-3 col-md-3 col-lg-3" style="padding:10px;">
						<div class="challenge">
							<div class="row">
							</br>
							<img src="/uploads/challenges/thumbnail/{{ challenge.id }}.jpg" alt="thumbnail of {{ challenge.title }}">
							  	<h3>{{ challenge.title }}</h3>
							  	<button onclick="location.href='{{ path('bf_site_challengeview', {'id': challenge.id}) }}'" class="btn btn-success" type="submit">More info !</button>
							  	<button onclick="location.href='{{ path('bf_site_upload', {'id': challenge.id}) }}'" class="btn btn-warning" type="submit">Participate !</button>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endblock %}