{% extends "BFSiteBundle::base.html.twig" %}

{% block title %}
  Connect - {{ parent() }}
{% endblock %}


{% block content %}
	<section class="header text-center">
        <div class="row" style="margin-top:50px;">
          <div class="col-xs-10 col-sm-8 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-2 col-md-offset-3 col-lg-offset-3" >
            <h1 style="color:white;">Connect to Bestfootball.com</h1>
            <div style="background-color:rgba(255,255,255,0.8)">

			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation" class="active" style="width:50%;"><a href="#connect" aria-controls="connect" role="tab" data-toggle="tab">Connect</a></li>
			    <li role="presentation" style="width:50%;"><a href="#subscribe" aria-controls="subscribe" role="tab" data-toggle="tab">Subscribe</a></li>
			  </ul>

			  <!-- Tab panes -->
			  <div class="tab-content row" style="padding-bottom:10px;">
			    <div role="tabpanel" class="tab-pane active" id="connect">
			    	<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1" >
						{{ render(controller("BFUserBundle:Security:login")) }}
					</div>
			    </div>
			    <div role="tabpanel" class="tab-pane" id="subscribe">
			    	{% trans_default_domain 'FOSUserBundle' %}

					{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

					    <div class="form-group">
					    	<label for="fos_user_registration_form_email" class="col-xs-12 col-sm-5 col-md-5 col-lg-5 control-label">Email</label>
					    	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
					    		 {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
					    	</div>
					   	</div>
					   	<div class="form-group">
					    	<label for="fos_user_registration_form_username" class="col-xs-12 col-sm-5 col-md-5 col-lg-5 control-label">Username</label>
					    	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
					    		{{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}
					    	</div>
					   	</div>
					   	<div class="form-group">
					    	<label for="fos_user_registration_form_plainPassword_first" class="col-xs-12 col-sm-5 col-md-5 col-lg-5 control-label">Password</label>
					    	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
					    		{{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control'}}) }}
					    		
					    	</div>
					   	</div>
					   	<div class="form-group">
					    	<label for="fos_user_registration_form_plainPassword_second" class="col-xs-12 col-sm-5 col-md-5 col-lg-5 control-label">Repeat Password</label>
					    	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
					    		{{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control'}}) }}
					    	</div>
					   	</div>

					   	{{ form_rest(form) }}
					   </br>
					</br>
					    <div>
					        <input type="submit" class="btn btn-success" style="margin-top: 10px;" value="{{ 'registration.submit'|trans }}" />
					    </div>

					{{ form_end(form) }}
			    </div>
			  </div>
			</div>
          </div>
        </div>
      </section>
{% endblock %}

{% block javascript %}
	
{% endblock %}