{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
  <meta name="description" content="The contact form for the bestfootball website.">
  <meta name="keywords" content="contact,bestfootball">
{% endblock %}


{% block title %}
  Contact us - {{ parent() }} 
{% endblock %}

{% block content %}
<section class="homepage">
  <div class="row" style="min-height:65vh;margin-top:50px;">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
      <div class="row">

        <div class="col-xs-12 col-sm-8 col-md-6 col-lg-6 col-sm-offset-2 col-md-offset-3 col-lg-offset-3" style="margin-top:50px;">
          <div class="challengedescription text-center">
            <div class="challengetitle">
              <h3 style="color:white;">Contact Us.</h3>
            </div>
            <div class="challengecontent text-center">
              {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
              {# Les erreurs générales du formulaire. #}
              {{ form_errors(form) }}

              {# Idem pour un autre champ. #}
              <div class="form-group">
                {{ form_label(form.name, "Name:", {'label_attr': {'class': 'col-xs-12 col-sm-4 col-md-3 col-lg-3 control-label'}}) }}
                {{ form_errors(form.name) }}
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                  {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                </div>
              </div>

              <div class="form-group">
                {{ form_label(form.email, "Email:", {'label_attr': {'class': 'col-xs-12 col-sm-4 col-md-3 col-lg-3 control-label'}}) }}
                {{ form_errors(form.email) }}
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                  {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>
              </div>

              <div class="form-group">
                {{ form_label(form.reason, "Reason:", {'label_attr': {'class': 'col-xs-12 col-sm-4 col-md-3 col-lg-3 control-label'}}) }}
                {{ form_errors(form.reason) }}
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                  {{ form_widget(form.reason, {'attr': {'class': 'form-control'}}) }}
                </div>
              </div>

              <div class="form-group">
                {{ form_label(form.message, "Message:", {'label_attr': {'class': 'col-xs-12 col-sm-4 col-md-3 col-lg-3 control-label'}}) }}
                {{ form_errors(form.message) }}
                <div class="col-xs-12 col-sm-8 col-md-9 col-lg-9">
                  {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
                </div>
              </div>

              <div><label for="form_copy">Get a copy of the mail.</label><input type="checkbox" id="form_copy" name="form[copy]" value="1" /></div>


              <input type="submit" value="Send the message" class="btn btn-warning" />
            {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
            {{ form_rest(form) }}
            {# Fermeture de la balise <form> du formulaire HTML #}
            {{ form_end(form) }}

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}
