{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
  <meta name="description" content="Bla bla bla concernant l'upload.">
  <meta name="keywords" content="soccer,football ">
{% endblock %}


{% block title %}
  Start a new Duel - {{ parent() }} 
{% endblock %}

{% block content %}

  
<section class="profile">
  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
      <div class="challengedescription text-center" style="margin:150px 0;">
        <div class="challengetitle">
          <h3 style="color:white;">Contact us !</h3>
        </div>
        <div class="challengecontent">
          {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
          {# Les erreurs générales du formulaire. #}
          {{ form_errors(form) }}

          {# Idem pour un autre champ. #}
          <div class="form-group">
            {{ form_label(form.name, "Name:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.name) }}
            <div class="col-sm-4">
              {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>

          <div class="form-group">
            {{ form_label(form.email, "Email:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.email) }}
            <div class="col-sm-4">
              {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>

          <div class="form-group">
            {{ form_label(form.reason, "Reason:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.reason) }}
            <div class="col-sm-4">
              {{ form_widget(form.reason, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>

          <div class="form-group">
            {{ form_label(form.message, "Message:", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            {{ form_errors(form.message) }}
            <div class="col-sm-4">
              {{ form_widget(form.message, {'attr': {'class': 'form-control'}}) }}
            </div>
          </div>

          <input type="submit" value="Send the message" class="btn btn-warning" />
        {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
        {{ form_rest(form) }}
        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
