{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
	<meta name="description" content="Press">
	<meta name="keywords" content="soccer,football, ">
{% endblock %}


{% block title %}
  {{ 'Press'|trans }} - {{ parent() }}
{% endblock %}

{% block content %}
<section class="ranking">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1">
    	<div class="row">
    		<h1 class="text-center">Presse</h1>
    	<!-- begin of the article -->
    		<div class="col-xs-12 col-sm-12 col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center" style="background-color:rgba(255,255,255,0.8);padding:10px 10px; border-radius:10px;">
    			<div class="row">
                    <p style="text-align:justify;">
                        {{ "Vous voulez parler de Bestfootball ?"|trans }}
                    </p>
                    <p style="text-align:justify;">
                        {{ "N’hésitez pas à  nous joindre et on répondra avec plaisir à toutes vos questions : contact@bestfootball.fr"|trans }}
                        
                    </p>
                    <p style="text-align:justify;">
                        {{ "Vous trouverez ci-dessous nos ressources médias :"|trans }}
                        
                    </p>
                    <p>
                        <ol>
                            {% if app.request.getLocale() == 'fr'%}
                                <li style="text-align:left;"><a href="/pdf/CP_20_03_2016_fr.pdf" target="_blank">Communiqué de presse du 11 Avril 2016 : Lancement de bestfootball</a></li>
                            {% else %}
                                <li style="text-align:left;"><a href="/pdf/CP_20_03_2016_en.pdf" target="_blank">Press communication of the 11 of April 2016 : The start of bestfootball</a></li>
                            {% endif %}
                        </ol>
                    </p>


    				<footer>
    					<p>	
						


    				</footer>

    			</div>
    		</div>
    	<!-- end of the article -->
    	</div>
    </div>
  </div>
</section>
{% endblock %}
