            <div class="videotabback" style="min-height:210px;">
              <div class="challengecontent row" style="margin: 0px 10px; margin-bottom:10px;">
                <h2 class="text-center">{{ rank.rankinfo.level }}</h2>
                <p>{{ user.points }} Points</p>
                <div class="progress class="text-center"">
                  <div class="progress-bar {{ rank.rankinfo.style }} progress-bar-striped active" role="progressbar" aria-valuenow="{{ user.points }}" aria-valuemin="{{ rank.rankinfo.min }}" aria-valuemax="{{rank.rankinfo.max }}" style="width:{{ rank.rankinfo.percent }}%;">
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
                  <h3 class="text-center">Ranking</h3>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row">
                    <img src="../img/globe.png" alt="globe ranking" style="width:25px;"/><!--globe -->
                  </div><!--
                  --><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row">
                    <p> {{ rank.rankinfo.globalrank }}</p>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row"><!--country -->
                    {% if user.country.name == 'France' %}
                      <img src="/img/fr.jpg" alt="" style="width:25px;"/>
                    {% elseif user.country.name == 'United States' %}
                      <img src="/img/usa.jpg" alt="" style="width:25px;"/>
                    {% elseif user.country.name == 'Belgium' %}
                      <img src="/img/be.jpg" alt="" style="width:25px;"/>
                    {% endif %}
                     
                  </div><!--
                  --><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row">
                    <p> {{ rank.rankinfo.countryrank }} </p>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row">
                    <p>{{ user.state.name }} <!--State -->
                  </div><!--
                  --><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row">
                    <p> {{ rank.rankinfo.staterank }} </p>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row text-center" style="margin-bottom:10px;">
                    <h3>Duel Ranking</h3>
                    {% if rank.duelrankinfo.level == 1 %}
                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xs-offset-4 col-sm-offset-4 col-md-offset-4 col-lg-offset-4  row">
                      <img src="/img/duelrank.jpg" alt="duel ranking indicator on bestfootball" style="width:100%"/>
                      </div>
                    {% elseif rank.duelrankinfo.level == 2 %}
                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3 row">
                      <img src="/img/duelrank.jpg" alt="duel ranking indicator on bestfootball" style="width:100%"/>
                      </div>
                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 row">
                      <img src="/img/duelrank.jpg" alt="duel ranking indicator on bestfootball" style="width:100%"/>
                      </div>
                    {% elseif rank.duelrankinfo.level == 3 %}
                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row">
                      <img src="/img/duelrank.jpg" alt="duel ranking indicator on bestfootball" style="width:100%"/>
                      </div>
                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row">
                      <img src="/img/duelrank.jpg" alt="duel ranking indicator on bestfootball" style="width:100%"/>
                      </div>
                      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 row">
                      <img src="/img/duelrank.jpg" alt="duel ranking indicator on bestfootball" style="width:100%"/>
                      </div>
                    {% elseif rank.duelrankinfo.level == 4 %}
                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 row">
                      <img src="/img/duelrank.jpg" alt="duel ranking indicator on bestfootball" style="width:100%"/>
                      </div>
                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 row">
                      <img src="/img/duelrank.jpg" alt="duel ranking indicator on bestfootball" style="width:100%"/>
                      </div>
                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 row">
                      <img src="/img/duelrank.jpg" alt="duel ranking indicator on bestfootball" style="width:100%"/>
                      </div>
                      <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 row">
                      <img src="/img/duelrank.jpg" alt="duel ranking indicator on bestfootball" style="width:100%"/>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
              </div>
            </div>