{% extends "BFSiteBundle::base.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block content %}
	{% for key, message in app.session.flashbag.all() %}
	    <div class="alert alert-{{ key }}">
	      {{ message|trans({}, 'FOSUserBundle') }}
	    </div>
	{% endfor %}
	<div class="well"style="margin-top:50px;">
	     <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
	    {% if targetUrl %}
	    	<p><a href="{{ targetUrl }}">{{ 'registration.back'|trans }}</a></p>
	    {% endif %}
	</div>
{% endblock %}

{% block javascripts %}
	<script>
		$(document).ready(function(){
		  setTimeout(function(){
			window.location="{{ path('bf_site_homepage') }}";
		  },5000); });
	</script>
{% endblock %}
