{% extends "BFSiteBundle::base.html.twig" %}



{% block content %}
	<section class="header text-center">
        <div class="row" style="margin-top:50px;">
          <div class="col-xs-10 col-sm-6 col-md-4 col-lg-4 col-xs-offset-1 col-sm-offset-3 col-md-offset-4 col-lg-offset-4" >
            <div style="background-color:rgba(255,255,255,0.8)">

			  <!-- Nav tabs -->
			  <ul class="nav nav-tabs" role="tablist">
			    <li role="presentation"  style="width:50%;"><a href="{{ path('fos_user_security_login') }}">{{ 'Connect'|trans }}</a></li>
			    <li role="presentation" class="active" style="width:50%;"><a href="#subscribe" aria-controls="subscribe" role="tab" data-toggle="tab">{{ 'Subscribe'|trans }}</a></li>
			  </ul>

			  <!-- Tab panes -->
			  	<div class="tab-content row" style="padding-bottom:10px;">
				    <div role="tabpanel" class="tab-pane active" id="subscribe">
				    	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook', 'scope' : 'email' }) }}">
			                  <img src="/img/fblogin.png" alt="fb login button" style="width:60%;margin-top:20px;"/>
			                </a>
			            </div>
			            </br>
			            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'google'}) }}">
			                  <img src="/img/googlelogin.png" alt="google login button" style="width:60%;margin-top:20px;"/>
			                </a>
			            </div>


				    	{% include "BFUserBundle:Registration:register_content.html.twig" %}
				    </div>
			  </div>
			</div>
          </div>
        </div>
      </section>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$( document ).ready(function() {
	
	$("#fos_user_registration_form_username").on('input',function() {
	 	//check for the username
	 	var response;
	 	console.log('written');
	 	checkUsername();
	});

	var checkUsername = function(){
		var response;
		var username = $("#fos_user_registration_form_username").val();
		$.ajax({
		    url : "{{ path('bf_site_api_checkusername')}}",
		    type: "POST",
		    data : 'username=' + username,
		    success: function(response) {
		      	console.log(response);
		      	if(response == 'ok'){
	 				//the username is available. Make the button available.
	 				console.log('username is available');
	 				$('#sumbit_username').removeClass( "disabled" );
	 				$("#sumbit_username").removeAttr( "disabled");
	 				$('#username_field').removeClass( "has-error" );
	 				$('#username_field').addClass( "has-success" );
	 				$('#helpblocktaken').hide();
	 				$('#helpblockfree').show();
	 				return false;
	 			}
	 			if(response == 'used'){
	 				//the username is already taken. Block the buton.
	 				console.log('username is not available');
	 				$('#sumbit_username').addClass( "disabled" );
	 				$("#sumbit_username").attr( "disabled", "disabled" );
	 				$('#username_field').removeClass( "has-success" );
	 				$('#username_field').addClass( "has-error" );
	 				$('#helpblockfree').hide();
	 				$('#helpblocktaken').show();
	 				return false;
	 			}
		    }
	  	});
	};
	$(window).keydown(function(event) {
		if (event.keyCode == 13) {
			event.preventDefault();
			return false;
		}
	});
});
</script>
{% endblock %}
