<div class="videotabback" style="min-height:210px;">
  <div class="challengecontent row" style="margin: 0px 10px; margin-bottom:10px;">
    <h2 class="text-center">{{ rank.rankinfo.level }}</h2>
    <p>{{ user.points }} Points</p>
    <div class="progress class="text-center"">
      <div class="progress-bar {{ rank.rankinfo.style }} progress-bar-striped active" role="progressbar" aria-valuenow="{{ user.points }}" aria-valuemin="{{ rank.rankinfo.min }}" aria-valuemax="{{rank.rankinfo.max }}" style="width:{{ rank.rankinfo.percent }}%;">
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row">
      <h3 class="text-center">Ranking</h3>

      {% include "BFSiteBundle:Userinfo:Location.html.twig" with {"user": user, "rank": rank} only %}


      {% if rank.duelrankinfo.level == 1 %}
        {% include "BFSiteBundle:Userinfo:1bf.html.twig" %}
      {% elseif rank.duelrankinfo.level == 2 %}
        {% include "BFSiteBundle:Userinfo:2bf.html.twig" %}
      {% elseif rank.duelrankinfo.level == 3 %}
        {% include "BFSiteBundle:Userinfo:3bf.html.twig" %}
      {% elseif rank.duelrankinfo.level == 4 %}
        {% include "BFSiteBundle:Userinfo:4bf.html.twig" %}
      {% endif %}
    </div>
  </div>
</div>
