  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row">
    <img src="/img/globe.png" alt="globe ranking" style="width:25px;"/><!--globe -->
  </div><!--
  --><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row">
    <p> {{ rank.rankinfo.globalrank }}</p>
  </div>
    {% if user.country.name == 'France' %}
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row"><!--country -->
        <img src="/img/fr.jpg" alt="" style="width:25px;"/>
      </div><!--
   --><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row">
        <p> {{ rank.rankinfo.countryrank }} </p>
      </div>
    {% elseif user.country.name == 'United States' %}
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row"><!--country -->
        <img src="/img/usa.jpg" alt="" style="width:25px;"/>
      </div><!--
   --><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row">
        <p> {{ rank.rankinfo.countryrank }} </p>
      </div>
    {% elseif user.country.name == 'Belgium' %}
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row"><!--country -->
        <img src="/img/be.jpg" alt="" style="width:25px;"/>
      </div><!--
    --><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row">
        <p> {{ rank.rankinfo.countryrank }} </p>
      </div>
    {% else %}
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row"><!-- no country -->
        <p>This user didn't give his country</p>
      </div>
    {% endif %}
    {% if user.state is not null %}
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row">
        <p>{{ user.state.name }} <!--State -->
      </div><!--
   --><div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 row">
        <p> {{ rank.rankinfo.staterank }} </p>
      </div>             
    {% endif %}
