{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
  <meta name="description" content="Bla bla bla concernant l'upload.">
  <meta name="keywords" content="soccer,football ">
{% endblock %}


{% block title %}
  Admin Section- challenges - {{ parent() }} 
{% endblock %}

{% block content %}

<section class="header">
    <div class="row" style="margin-top:20px;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
        <div class="row">
        	<div class="well">
				<a href="{{ path('bf_site_admin_addChallenge') }}" class="btn btn-success">Add a new challenge</a>
				<table class="table">
					<tr>
						<th>Title EN </th>
						<th>Title FR </th>
						<th>Description EN</th>
						<th>Description FR</th>
						<th>One</th>
						<th>two</th>
						<th>three</th>
						<th>four</th>
						<th>five</th>
						<th>six</th>
						<th>End Prediction</th>
						<th>Modify</th>
						<th>Delete</th>
						<th>Prediction winner</th>
				 	{% for challenge in listChallenges %}
						<tr>
							<td>{{ challenge.titleEN }}</td>
							<td>{{ challenge.titleFR }}</td>
							<td>{{ challenge.descriptionEN }}</td>
							<td>{{ challenge.descriptionFR }}</td>
							<td>{{ challenge.one }}</td>
							<td>{{ challenge.two }}</td>
							<td>{{ challenge.three }}</td>
							<td>{{ challenge.four }}</td>
							<td>{{ challenge.five }}</td>
							<td>{{ challenge.six }}</td>
							<td>{{ challenge.endDate|date('d-m-Y') }}</td>
							<td>
								<a href="{{ path('bf_site_admin_modchallenge', {'id': challenge.id} ) }}" class="btn btn-primary">
									Modify
								</a>
							</td>
							<td>
				   				<a href="{{ path('bf_site_admin_delchallenge', {'id': challenge.id} ) }}" class="btn btn-danger">
									Delete
								</a>
							</td>
							<td>
								<a href="{{ path('bf_site_admin_prediction', {'slug': challenge.slug} ) }}" class="btn btn-success">
									Winners
								</a>
							</td>
						</tr>
					{% endfor %}
				</table>
			</div>
        </div>
      </div>
    </div>
</section>
 


  



{% endblock %}
