{% extends "BFSiteBundle::base.html.twig" %}


{% block meta %}
  <meta name="description" content="Bla bla bla concernant l'upload.">
  <meta name="keywords" content="soccer,football ">
{% endblock %}


{% block title %}
  Admin Section- add a new challenge - {{ parent() }} 
{% endblock %}

{% block content %}


<section class="header">
	<div class="row" style="margin-top:50px;">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
			<div class="row">
				<h3>All the users</h3>

				<div class="well">
					<table class="table">
						<tr>
							<th>Name</th>
							<th>firstname</th>
							<th>email</th>
							<th>points</th>
							<th>view</th>
						</tr>

				 	{% for user in listUsers %}
						<tr>
							<td>{{ user.name }}</td>
							<td>{{ user.firstname }}</td>
							<td>{{ user.email }}</td>
							<td>{{ user.points }}</td>
							<td>
								<a href="{{ path('bf_site_admin_user_view', {'id': user.id} ) }}" class="btn btn-primary">
									View
								</a>
							</td>
						</tr>
					{% endfor %}
				</table>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}
