<!--New email template Bestfootball -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Email Template - Bestfootball</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <table width="100%">
            <tr>
                <td>
                    <table border="0" width="600px" style="border-collapse: collapse;margin:auto;">
                        <tr>
                            <td>
                                <table width="100%">
                                    <tr>
                                        <td style="padding-top: 10px; padding-right: 150px; padding-bottom: 8px; padding-left: 150px;">
                                        <img src="http://bestfootball.fr/img/logo.png" alt="Bestfootball Logo" width="300" height="230" style="display: block;">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding-top: 10px; padding-right: 10px; padding-bottom: 8px; padding-left: 10px; text-align:center;">
                                            <h1 style="color:#95cd36;font-family:helvetica;">{{ subject }}</h1>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        
                        <tr>
                            <td  bgcolor="#95cd36" style="padding-top: 10px; padding-right: 20px; padding-bottom: 8px; padding-left: 20px;">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                            <td width="100%">
                                                <h2 style="color:white;font-family:helvetica;">Salut {{ user.username }},</h2>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p style="color:white;font-family:helvetica;text-align:justify;">
                                                    <p style="color:white;font-family:helvetica">Comment faire pour gagner les places ?</p>
                                                    <ol>
                                                        <li style="color:white;">
                                                            <p style="color:white;font-family:helvetica">Invite 5 de tes amis à s’inscrire sur www.Bestfootball.fr grâce à ton lien de parainage: <a href="http://bestfootball.fr/register/?parain={{ user.id }}" >http://bestfootball.fr/register/?parain={{ user.id }}</a>.  L'inscription doit se faire par le formulaire d'inscription.</p></li>
                                                        <li style="color:white;"><p style="color:white;font-family:helvetica">Toi et tes 5 amis devez completer votre profil (age, photo, ect...)</p></li>
                                                        <li style="color:white;">
                                                            <p style="color:white;font-family:helvetica">
                                                                Participe à un challenge et fais un score minimum de 100 points
                                                            </p>
                                                        </li>
                                                        <li style="color:white;"><p style="color:white;font-family:helvetica">Partage la vidéo sur ton Facebook et notre <a href="https://www.facebook.com/Bestfootball.official/" target="_blank">page facebook</a> avec le hashtag <b>#BestfootballEuro2016</b></p></li>
                                                    </ol>
                                                    <p style="color:white;font-family:helvetica">Un tirage au sort sera effectué le <b>15Juin2016</b> et le gagnant des deux places pour l’Euro sera désigné.</p>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h3 style="color:white;font-family:helvetica;">La vidéo du moment</h3>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <p style="color:white;font-family:helvetica;text-align:justify;">
                                                                L'équipe bestfootball selectionne tous les 10jours la vidéo du moment. Cette vidéo sera sur la page d'accueil du site pendant 10jours.
                                                                La vidéo de cette semaine c'est celle de {{ video.user.username }}
                                                            </p>
                                                        </td>
                                                        <td width="200px" style="padding-left:15px;">
                                                            <a href="http://bestfootball.fr{{ path('bf_site_video', {'code': video.code })}}" target="_blank">  
                                                                <img src="{{ video.thumbUrl }}" alt="{{ video.thumbAlt }}" width="260px" style="display: block;">
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                        <tr bgcolor="#6E6E6E">              
                            <td style="padding-top: 10px; padding-right: 20px; padding-bottom: 8px; padding-left: 20px;">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tbody>
                                        <tr>
                                            <td width="400px">
                                                <p style="font-family:helvetica;color:white;">
                                                    ® Bestfootball 2016<br>
                                                    Pour se désinscrire de ce newsletter, décocher la case dans le paramètres de votre profil Bestfootball.
                                                </p>
                                            </td>
                                            <td>
                                                <table border="0" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <a href="https://twitter.com/Bestfootball_10" target="_blank">
                                                                    <img src="https://g.twimg.com/dev/documentation/image/Twitter_logo_white_32.png" alt="Twitter" width="38px" height="38px" style="display: block;" border="0">
                                                                </a>
                                                            </td>
                                                            <td style="font-size: 0; line-height: 0;" width="20px"> 

                                                            </td>
                                                            <td>
                                                                <a href="https://www.facebook.com/Bestfootball.official/" target="_blank">
                                                                    <img src="https://www.facebookbrand.com/img/fb-art.jpg" alt="Facebook" width="38px" height="38px" style="display: block;" border="0">
                                                                </a>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <img src="https://www.google-analytics.com/collect?v=1&&tid=UA-72921808-1&cid={{ clientID }}&uid={{ user.id }}t=event&ec=email&ea=open&dp=/email/{{ subject }}&dt={{ subject }}"/>
    </body>
</html>